{% from "_macros.html" import base, version with context %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ base() }}/img/favicon.ico" rel="shortcut icon">
    {% block style %}
    <link href="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.css" rel="stylesheet" type="text/css">
    {% endblock %}
    <link href="{{ base() }}/assets/fonts/feather/feather.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base() }}/assets/css/theme.min.css?{{ version() }}" rel="stylesheet" type="text/css"/>
</head>
<body>
{# Nav #}
{% set nav = {
    'title': 'pySeed',
    'logo': base() + '/img/logo-sm.png',
    'langs': [
        {'url':'javascript:coming()', 'title':'English'},
        {'url':'javascript:coming()', 'title':'中文'}
    ],
    'commands': [
        {'icon':'fe fe-user', 'title':'Profile', 'url':'/dashboard/profile'},
        {'title':''},
        {'icon':'fe fe-log-out', 'title':'Logout', 'url':'/logout'}
    ],
    'links': [
        {'icon':'fe fe-grid', 'title':'首页', 'url':'#', 'links':[
            {'title':'项目仪表盘', 'url':'/demo/project-dashboard'},
        ]},
        {'icon':'fe fe-user', 'title':'用户', 'url':'#', 'links':[
            {'title':'用户设置', 'url':'/demo/user-profile?id=1'},
        ]},
        {'icon':'fe fe-users', 'title':'团队', 'url':'#', 'links':[
            {'title':'团队设置', 'url':'/demo/team-profile?id=1'},
            {'title':'团队成员', 'url':'/demo/team-members?id=1'},
        ]},
        {'icon':'fe fe-briefcase', 'title':'项目管理', 'url':'#', 'links':[
            {'title':'项目列表', 'url':'/demo/project-list'},
            {'title':'项目详情', 'url':'/demo/project-detail?id=1'},
            {'title':'项目编辑', 'url':'/demo/project-edit'},
            {'title':'任务详情', 'url':'/demo/task-detail?id=1'},
            {'title':'任务编辑', 'url':'/demo/task-edit?project_id=1'},

        ]},
    ]
} %}
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarCollapse"
                aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a href="/dashboard/" class="navbar-brand">
            <span class="navbar-brand mb-0 h1">{{ nav.title }}</span>
        </a>
        <!-- User (xs) -->
        <div class="navbar-user d-md-none">
            <div class="dropdown">
                <a href="#" id="sidebarIcon" class="dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-sm avatar-online">
                        {% if current_user.avatar %}
                            <img src="{{ current_user.avatar }}" class="avatar-img rounded-circle"
                                 alt="...">
                        {% else %}
                            <span class="avatar-title rounded-circle bg-primary">{{ current_user.name|first|upper }}</span>
                        {% endif %}
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="sidebarIcon">
                    {% for l in nav.commands %}
                        {% if l.title %}
                            <a href="{{ l.url }}" class="dropdown-item">
                                <i class="{{ l.icon }} mr-3"></i>{{ l.title }}
                            </a>
                        {% else %}
                            <div class="dropdown-divider"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidebarCollapse">
            <ul class="navbar-nav">
                {% for l in nav.links %}
                    {% if current_user.has_role(l.role) %}
                        {% if l.links %}
                            {% set ns = namespace(show=false) %}
                            {% for sl in l.links %}
                                {% if sl.url|path in request.path %}
                                    {% set ns.show = true %}
                                {% endif %}
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="#sidebar-{{ loop.index }}" data-toggle="collapse" role="button"
                                   aria-expanded="{{ 'true' if ns.show else 'false' }}"
                                   aria-controls="sidebar-{{ loop.index }}">
                                    <i class="{{ l.icon }}"></i> {{ l.title }}
                                </a>
                                <div class="collapse {{ 'show' if ns.show }}" id="sidebar-{{ loop.index }}">
                                    <ul class="nav nav-sm flex-column">
                                        {% for sl in l.links %}
                                            {% if current_user.has_role(sl.role) %}
                                                <li class="nav-item">
                                                    <a href="{{ sl.url }}"
                                                       class="nav-link {{ 'active' if sl.url|path in request.path }}">
                                                        {{ sl.title }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {{ 'active' if l.url in request.path }}" href="{{ l.url }}">
                                    <i class="{{ l.icon }}"></i>{{ l.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<div class="main-content">
    {% include 'blocks/headerdash.html' %}
    {% include 'blocks/breadcrumbdash.html' %}
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'blocks/footerdash.html' %}
</div>
<script src="{{ base() }}/assets/js/vendor.min.js"></script>
<script src="{{ base() }}/js/enums.js?{{ version() }}"></script>
<script src="{{ base() }}/js/app.min.js?{{ version() }}"></script>
<script src="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base() }}/assets/vendor/flatpickr/dist/l10n/zh.js"></script>
<script src="{{ base() }}/assets/vendor/select2/dist/js/select2.full.min.js"></script>
<script src="{{ base() }}/assets/vendor/plupload/js/plupload.full.min.js"></script>
<script src="{{ base() }}/assets/vendor/corejs-typeahead/dist/typeahead.jquery.min.js"></script>
<script src="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="{{ base() }}/assets/vendor/chart.js/dist/Chart.bundle.min.js"></script>
<script src="{{ base() }}/assets/vendor/autosize/dist/autosize.min.js"></script>
<script src="{{ base() }}/assets/js/Chart.extension.js"></script>
<script src="{{ base() }}/assets/js/charts.js"></script>
<script src="{{ base() }}/js/form.min.js?{{ version() }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        install_form();
    });
</script>
{% block script %}
{% endblock %}
</body>
</html>
