{% from "macros.html" import base, version with context %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block seo %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ base() }}/img/favicon.ico" rel="shortcut icon">
    {% block style %}
    {% endblock %}
    <link href="{{ base() }}/assets/vendor/flickity/dist/flickity.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base() }}/assets/vendor/flickity-fade/flickity-fade.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base() }}/assets/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base() }}/assets/fonts/feather/feather.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base() }}/assets/css/theme.min.css?{{ version() }}" rel="stylesheet" type="text/css"/>
</head>
<body class="bg-white">
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-12 col-lg-auto">
            {% include 'seeds/Block-read-shop-horizontal-sidenav.html' %}
        </div>
        <div class="col-12 col-lg">
            {% include 'seeds/Block-read-shop-horizontal-topnav.html' %}
            {% block content %}
            {% endblock %}
            {% include 'seeds/Block-read-shop-horizontal-footer.html' %}
        </div>
    </div>
</div>
<script src="{{ base() }}/assets/js/vendor.min.js"></script>
<script src="{{ base() }}/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>
<script src="{{ base() }}/assets/vendor/flickity-fade/flickity-fade.js"></script>
<script src="{{ base() }}/js/app.min.js?{{ version() }}"></script>
{% block script %}
{% endblock %}
</body>
</html>
