{% if field_schema.type == 'array' %}
{% set item_schema = field_schema['items'] %}
{% set title_field_name = match_field(item_schema.columns, 'title|name|\w*name')%}
<table class="table table-striped">
    <thead>
        <tr>
            {% for c in item_schema.columns %}
            {% set column_schema = item_schema.properties[c] %}
            <th>{{ column_schema.title }}{{ '(' + column_schema.unit + ')' if column_schema.unit }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
        <tr class="" name="{{ '{{' }} loop.index0 {{ '}}' }}">
            {% set target = detail_url(item_schema.py_type, field_name~'_item') if field_schema.is_relation else none %}
            {{ display_table_columns(item_schema, field_name~'_item', row_target=target)|indent(12) }}
        </tr>
        {{ '{%' }} else {{ '%}' }}
        <tr><td colspan="{{ item_schema.columns|length + 1 }}"><div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>没有{{ item_schema.title }}！</div></td></tr>
        {{ '{%' }} endfor {{ '%}' }}
    </tbody>
</table>
{# back relation and has defined edit view #}
{% if field_schema.is_back_relation %}
{% set target = edit_url(item_schema.py_type) %}
{% if target !='javascript:;' %}
<div class="array-actions my-4" style="margin-left:1rem">
    <a class="btn btn-outline-primary" href="{{ target }}?{{ field_schema.save_field_name }}={{ '{{ '~model.name_snake~'.'~model_schema.id_name~' }}' }}">创建{{ item_schema.title }}...</a>
</div>
{% endif %}
{% endif %}
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}