{% set related_model_name = field_schema['items']['py_type'] if field_schema.type == 'array' else field_schema['py_type'] %}
{% set related_model = models[related_model_name] %}
{% set related_model_schema = related_model.schema %}
{% set title_field_name = match_field(related_model_schema.columns, 'title|name|\w*name') %}
<div class="field-group {{ 'row' if seed_is_horizontal }}">
    <label class="{{ 'col-auto col-field-label' if seed_is_horizontal }}">{{ field_schema.title }}{{ '('~field_schema.unit~')' if field_schema.unit }}</label>
    {% if seed_is_horizontal %}
    <div class="col">
    {% endif %}
    {% if field_schema.type == 'array' %}
    <div class="field-control">
        {{ '{%' }} for value in {{ field_path }} {{ '%}' }}
        <span class="font-size-base badge badge-soft-secondary mr-2">{{ '{{' }} value {{ '}}' }}</span>
        {{ '{%' }} endfor {{ '%}' }}
    </div>
    {% else %}
    <div class="field-control">
        {{ '{%' }} if {{ field_path }} {{ '%}' }}
        <span class="font-size-base badge badge-soft-secondary mr-2">{{ '{{' }} {{ field_path }}.{{ title_field_name }} if {{ field_path }}.{{ title_field_name }} is not none {{ '}}' }}</span>
        {{ '{%' }} endif {{ '%}' }}
    </div>
    {% endif %}
    {% if seed_is_horizontal %}
    </div>
    {% endif %}
</div>