{% macro render_item_list_group(item_schema, item_path, excludes=[]) %}
<div class="list-group list-group-flush border-top">
{% for c in item_schema.columns if c not in excludes %}
    {% set column_schema = item_schema.properties[c] %}
    {% set column_path = item_path~'.'~c %}
    <div class="list-group-item">
        <div class="row align-items-center">
            <div class="col">
                <span>
                    {{ column_schema.title }}{{ '(' + column_schema.unit + ')' if column_schema.unit }}
                </span>
            </div>
            <div class="col-auto">
                <span class="text-muted">
                    {% if column_schema.format in ['int', 'float'] %}
                    {{ '{{' }} {{ column_path }} if {{ column_path }} is not none {{ '}}' }}
                    {% elif column_schema.format in ['datetime'] %}
                    {{ '{{' }} {{ column_path }}|datetime if {{ column_path }} is not none {{ '}}' }}
                    {% elif column_schema.format in ['date'] %}
                    {{ '{{' }} {{ column_path }}|date if {{ column_path }} is not none {{ '}}' }}
                    {% elif column_schema.format in ['select', 'buttongroup'] %}
                    {{ '{{' }} enum_titles('{{ column_schema.py_type }}')[{{ column_path }}] if {{ column_path }} is not none {{ '}}' }}
                    {% else %}
                    {{ '{{' }} {{ column_path }} or '' {{ '}}' }}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{%- endmacro %}
{% set item_schema = field_schema['items'] %}
{% set title_field = 'title' if 'title' in item_schema.properties else 'name' %}
<div class="cards row row-cols-1 row-cols-lg-2">
{{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
    <div class="card-wrapper col">
        <div class="card">
        {% if item_schema.stat %}
            <div class="card-header">
                <h4 class="card-header-title">{% if item_schema.icon %}<i class="fe fe-{{ item_schema.icon }} mr-2"></i>{% endif %}{{ '{{' }} {{ field_name }}_item.{{ title_field }} {{ '}}' }}</h4>
            </div>
            <div class="card-body">
                {{ render_field('-', item_schema, field_name+'_item', true)|indent(16) }}
            </div>
        {% else %}
            {# Has top image #}
            {% if 'image' in item_schema.properties %}
            <img src="{{ '{{' }} {{ field_name }}_item.image {{ '}}' }}" class="card-img-top" alt="...">
            <div class="card-body">
                {{ '{%'}} if {{ field_name }}_item.{{ title_field }} {{ '%}' }}
                <h3 class="card-title font-weight-normal">{{ '{{' }} {{ field_name }}_item.{{ title_field }} {{ '}}' }}</h3>
                {{ '{%' }} endif {{ '%}' }}
                {{ '{%'}} if {{ field_name }}_item.subtitle {{ '%}' }}
                <p class="text-muted mb-2">{{ '{{' }} {{ field_name }}_item.subtitle {{ '}}' }}</p>
                {{ '{%' }} endif {{ '%}' }}
                {{ render_item_list_group(item_schema, field_name+'_item', excludes=['image', title_field, 'subtitle'])|indent(16) }}
            </div>
            {# Only has title/name #}
            {% else %}
            {{ '{%'}} if {{ field_name }}_item.{{ title_field }} {{ '%}' }}
            <div class="card-header"><h4 class="card-header-title">{{ '{{' }} {{ field_name }}_item.{{ title_field }} {{ '}}' }}</h4></div>
            {{ '{%' }} endif {{ '%}' }}
            <div class="card-body">
                {{ render_item_list_group(item_schema, field_name+'_item', excludes=[title_field])|indent(16) }}
            </div>
            {% endif %}
        {% endif %}
        </div>
    </div>
{{ '{%' }} else {{ '%}' }}
    <div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>没有{{ item_schema.title }}！</div>
{{ '{%' }} endfor {{ '%}' }}
</div>
