{% if field_schema.type in ['array', 'object'] %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% else %}
<div class="form-group {{ field_schema.type }} {{ 'row' if seed_is_horizontal }}" name="{{ field_name }}">
    <label class="{{ 'col-auto col-form-label' if seed_is_horizontal }}">{{ '<span class="text-danger mr-1">*</span>' if field_schema.required }}{{ field_schema.title }}</label>
    {% if seed_is_horizontal %}
    <div class="col">
    {% endif %}
    <div class="plupload-input-group image-input-group" {{ 'required' if field_schema.required }}>
        <a class="btn btn-outline-primary plupload" href="javascript:;"
           data-token="{{ '{{ upload_config.token }}' }}"
           data-upload="{{ '{{ upload_config.endpoint }}' }}"
           data-max="{{ '{{ upload_config.max }}' }}"
           {# 只支持图片, 且头像的图片一般为正方形, 目前暂不支持裁剪 #}
           data-preview='{"image":"?imageView2/1/w/200/h/200/","video":""}'
           data-suffix='{"image":"?imageView2/1/w/200/h/200/","video":""}'
           data-filters='{"mime_types":"{{ '{{' }} upload_config.mimes_image|join(", ") {{ '}}' }}"}'
           data-hiddens="url">选择图片...</a>
        <small class="mt-2 form-text text-muted">支持的图片格式有 {{ '{{' }} upload_config.mimes_image|join(', ') {{ '}}' }}</small>
        <div class="plupload-input-result image-input-result mt-1 clearfix">
            {{ '{%' }} if {{ field_path }} {{ '%}' }}
            <div class="image uploaded" style="width: auto">
                <img data-src="{{ '{{' }} {{ field_path }} {{ '}}' }}">
                <div class="btns">
                    <a href="{{ '{{' }} {{ field_path }} {{ '}}' }}" target="_blank">i</a>
                    <a href="javascript:;" onclick="$(this).closest('.image').remove();">x</a>
                </div>
                <input type="hidden" name="url" value="{{ '{{' }} {{ field_path }} {{ '}}' }}">
            </div>
            {{ '{%' }} endif {{ '%}' }}
        </div>
    </div>
    <div class="invalid-feedback">请上传{{ field_schema.title }}!</div>
    {% if seed_is_horizontal %}
    </div>
    {% endif %}
</div>
{% endif %}