{% set block = breadcrumb or {
    'title': 'Blank Page',
    'links': [
        {'url':'/', 'title': 'Home'},
        {'url':'/dashboard/', 'title': 'Dashboard'},
        {'url':'/blank', 'title': 'Blank Page'}
    ]
} %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    {% for l in block.links %}
                        {% if loop.last %}
                            <li class="breadcrumb-item active">{{ l.title }}</li>
                        {% else %}
                            <li class="breadcrumb-item">
                                <a href="{{ l.url }}">{{ l.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <h4 class="page-title">{{ block.title }}</h4>
        </div>
    </div>
</div>