{% set block = {
    'logo': base() + '/img/logo-light.png',
    'langs': [
        {'url':'javascript:coming()', 'title':'English'},
        {'url':'javascript:coming()', 'title':'中文'}
    ],
    'commands': [
        {'icon':'remixicon-account-circle-line', 'title':'Profile', 'url':'/dashboard/profile'},
        {'title':''},
        {'icon':'remixicon-logout-box-line', 'title':'Logout', 'url':'/logout'}
    ],
    'links': [
        {'icon':'remixicon-dashboard-line', 'title':'Dashboard', 'url':'/dashboard/'},
        {'icon':'remixicon-database-line', 'title':'Models', 'url':'/crud/'},
        {'icon':'remixicon-pages-line', 'title':'Pages', 'url':'#', 'links': [
            {'title':'Blank Page', 'url':'/dashboard/blank'}
        ]}
    ]
} %}
<header id="topnav">
    <div class="navbar-custom">
        <div class="container-fluid">
            <!-- Right Menu -->
            <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown">
                    <a class="navbar-toggle nav-link">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                </li>
                <li class="dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-toggle mr-0 waves-effect waves-light" data-toggle="dropdown"
                       href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="align-middle">English</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for l in block.langs %}
                            <a href="{{ l.url }}" class="dropdown-item notify-item">
                                <span class="">{{ l.title }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                       data-toggle="dropdown"
                       href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="{{ current_user.avatar }}"
                             alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">{{ current_user.name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        {% for l in block.commands %}
                            {% if l.title %}
                                <a href="{{ l.url }}" class="dropdown-item notify-item">
                                    <i class="{{ l.icon }} align-middle mr-1"></i>
                                    <span>{{ l.title }}</span>
                                </a>
                            {% else %}
                                <div class="dropdown-divider"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <!-- LOGO -->
            <div class="logo-box">
                <a href="/" class="logo text-center">
                    <span class="logo-lg">
                        <img src="{{ block.logo }}" alt="" height="40">
                    </span>
                </a>
            </div>
        </div>
    </div> <!-- /.navbar-custom -->

    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    {% for l in block.links %}
                        {% if l.links %}
                            <li class="has-submenu">
                                <a href="{{ l.url }}">
                                    <i class="{{ l.icon }}"></i>{{ l.title }}
                                    <div class="arrow-down"></div>
                                </a>
                                <ul class="submenu">
                                    {% for sl in l.links %}
                                        <li>
                                            <a href="{{ sl.url }}">{{ sl.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="">
                                <a href="{{ l.url }}">
                                    <i class="{{ l.icon }}"></i>{{ l.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                <div class="clearfix"></div>
            </div> <!-- /#navigation -->
        </div>
    </div> <!-- /.topbar-menu -->

</header> <!-- /#topnav -->