{% set block = {
    'icon': 'ti-crown',
    'title': 'Key Features',
    'subtitle': '',
    'features': [
        {'icon':'ti-bolt', 'title':'Rapid Development', 'content':'Once you have defined the data models, your project is ready to go online.'},
        {'icon':'ti-shield', 'title':'Serious Security', 'content':'We take security seriously and help developers avoid many common security mistakes.'},
        {'icon':'ti-panel', 'title':'Easy to Extend', 'content':'We keep the core simple but extensible.'},
        {'icon':'ti-server', 'title':'Simple Model Definition', 'content':'We define a simple and clean schema for model definition and build a validation layer on top of the great pymongo driver.'},
        {'icon':'ti-plug', 'title':'Minimal API Setup', 'content':'We add support for quickly building APIs with minimal setup.'},
        {'icon':'ti-palette', 'title':'Reusabe Web Blocks', 'content':'Web pages consist of a series of reusable blocks.'}
    ],
    'images': [
        base() + '/assets/img/features/img-1.png',
        base() + '/assets/img/features/img-2.png'
    ]
} %}
{% set groups = block.features|slice(2) %}
<section id="features" class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-3">
                    <i class="{{ block.icon }} h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">{{ block.title }}</h3>
                    <p class="text-muted">{{ block.subtitle }}</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5 col-sm-6">
                <div>
                    <img src="{{ block.images[0] }}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                {% for i in groups[0] %}
                    <div class="mb-4">
                        <div class="float-left">
                            <i class="{{ i.icon }} text-primary font-24 mr-3"></i>
                        </div>
                        <h4 class="mb-3">{{ i.title }}</h4>
                        <p class="text-muted">{{ i.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-5">
            <div class="col-lg-5">
                {% for i in groups[1] %}
                    <div class="mb-4">
                        <div class="float-left">
                            <i class="{{ i.icon }} text-primary font-24 mr-3"></i>
                        </div>
                        <h4 class="mb-3">{{ i.title }}</h4>
                        <p class="text-muted">{{ i.content }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-5 col-sm-6 offset-lg-1">
                <div>
                    <img src="{{ block.images[1] }}" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
        </div>
    </div>
</section>