{% set block = {
    'icon': 'ti-pencil',
    'title': 'News & Events',
    'subtitle': '',
    'news': news or [
        {'title':'Flask-Seed 0.1 released', 'content':'You can try it in prototype project, and may projects using this seed is already online.', 'image':base()+'/assets/images/blog/img-1.jpg', 'url':'#', 'author':'Admin', 'avatar':base()+'/assets/images/blog/avt-1.jpg', 'date': '2020-05-01'},
        {'title':'Easy to collaboration', 'content':'Backend and frontend development share same code, with the power of Jinja2 and Nunjucks.', 'image':base()+'/assets/images/blog/img-2.jpg', 'url':'#', 'author':'Admin', 'avatar':base()+'/assets/images/blog/avt-1.jpg', 'date': '2020-04-25'},
        {'title':'Simple model defintion', 'content':'Maybe the simplest and cleanest way to define models with database and api support.', 'image':base()+'/assets/images/blog/img-3.jpg', 'url':'#', 'author':'Admin', 'avatar':base()+'/assets/images/blog/avt-1.jpg', 'date': '2020-03-01'}
    ]
} %}
<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="title text-center mb-4">
                    <i class="{{ block.icon }} h1 text-primary mb-3"></i>
                    <h3 class="font-22 mb-3">{{ block.title }}</h3>
                    <p class="text-muted">{{ block.subtitle }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for n in block.news %}
                <div class="col-lg-4">
                    <div class="card overflow-hidden mb-4">
                        <div class="blog-img">
                            <img src="{{ n.image }}" alt=""
                                 class="img-fluid mx-auto d-block">
                        </div>
                        <div class="blog-content p-3 mx-3">
                            <h4 class="mt-0"><a href="{{ n.url }}" class="text-dark">{{ n.title }}</a>
                            </h4>
                            <p class="text-muted mb-0">{{ n.content }}</p>
                        </div>
                        <div class="blog-meta px-4 pb-3">
                            <p class="float-right text-muted pt-1 mb-0">{{ n.date }}</p>
                            <div class="float-left mr-2">
                                <img src="{{ n.avatar }}" alt="" class="rounded-circle avatar-sm">
                            </div>
                            <h5 class="font-14 mt-0 pt-2">{{ n.author }}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
