{% extends "layout-dash-demo.html" %}
{% set title = '项目管理' %}
{% set breadcrumb = {
    'subtitle': '',
    'title': title,
    'actions': [{'icon': 'plus', 'title': '项目编辑', 'view': 'project-edit'}],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
<link href="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="div-project-list">
    <div class="card"><div class="card-body pb-0">
    <form class="form-query" novalidate>
        <div class="form-row justify-content-center">
            <div class="form-group col-sm mb-4">
                <label class="sr-only">项目名称</label>
                <div class="input-group input-group-merge">
                    <input type="text" class="form-control form-control-prepended" placeholder="项目名称"
                           value="{{ search.title__like or '' }}"
                           name="search.title__like">
                    <div class="input-group-prepend"><div class="input-group-text"><span class="fe fe-search"></span></div></div>
                </div>
            </div>
            <div class="form-group col-sm-auto mb-4">
                <label class="sr-only">项目状态</label>
                <select class="custom-select" name="search.status" >
                    <option value="">请选择项目状态...</option>
                    {% for value, label in enum_titles('DemoProjectStatus')|items %}
                    <option value="{{ value }}" {{ 'selected' if value==search.status }}>{{ label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-auto mb-4">
                <label class="sr-only">开始日期</label>
                <div class="input-group input-group-merge">
                    <input type="text" class="form-control form-control-prepended date" placeholder="开始日期"
                           value="{{ search.start__gte or '' }}"
                           name="search.start__gte">
                    <div class="input-group-prepend"><div class="input-group-text"><span class="fe fe-calendar"></span></div></div>
                </div>
            </div>
            <div class="col-sm-auto mb-4">
                <button type="button" class="btn btn-primary btn-default" onclick="search_do($(this));">查找</button>
                <button type="button" class="btn btn-light btn-default" onclick="search_reset();">重置</button>
            </div>
        </div>
    </form>
    <form class="form-batch" novalidate style="display:none">
        <div class="alert alert-light mb-4">
            <div class="row align-items-center">
                <div class="col-sm">
                    <i class="fe fe-info mr-2"></i>您选择了<span id="span-checked" class="text-primary mx-1"></span>个项目
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-primary btn-default" onclick="coming($(this));">ACTION</button>
                </div>
            </div>
        </div>
    </form>
    </div></div>
    {% if demo_projects %}
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        {% for demo_project in demo_projects %}
        <div class="col">
            <div class="card">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col">
                        <div name="title" format="text">
                            <a href="project-detail?id={{ demo_project.id }}" class="avatar avatar-xl mt-2 mb-4">
                                <span class="avatar-title rounded bg-primary">{{ demo_project.title|first|upper if demo_project.title is not none }}</span>
                            </a>
                        </div>
                        <div class="mb-4">
                            <span class="h3 text-primary" name="title" foramt="text">{{ demo_project.title or '-' }}</span>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush border-top">
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <span><i class="fe fe-circle mr-2"></i>项目状态</span>
                            </div>
                            <div class="col-auto text-muted" name="status" format="select" enum="DemoProjectStatus">
                                {% if demo_project.status is not none %}<span class="text-{{ demo_project.status|tocolor }} mr-2">●</span>{{ enum_titles('DemoProjectStatus')[demo_project.status] }}{% else %}-{% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <span><i class="fe fe-dollar-sign mr-2"></i>项目价值(元)</span>
                            </div>
                            <div class="col-auto text-muted" name="value" format="float" enum="">
                                {{ demo_project.value|int|commas if demo_project.value is not none else '-' }} 
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <span><i class="fe fe-calendar mr-2"></i>开始日期</span>
                            </div>
                            <div class="col-auto text-muted" name="start" format="date" enum="">
                                {{ demo_project.start|date if demo_project.start is not none else '-' }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <span><i class="fe fe-users mr-2"></i>项目成员</span>
                            </div>
                            <div class="col-auto text-muted" name="members" format="media" enum="">
                                {{ demo_project.members|length }}
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <span><i class="fe fe-percent mr-2"></i>项目进度</span>
                            </div>
                            <div class="col" name="" format="float">
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" style="width:{{ demo_project.percent or 0 }}%;" aria-valuenow="{{ demo_project.percent or 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="col-auto text-muted" name="percent" format="float" enum="">
                                {{ demo_project.percent|int|commas if demo_project.percent is not none else '-' }} %
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <div class="row align-items-center">
                            <div class="col">
                                <span><i class="fe fe-clock mr-2"></i>创建时间</span>
                            </div>
                            <div class="col-auto text-muted" name="create_time" format="datetime" enum="">
                                {{ demo_project.create_time|datetime if demo_project.create_time is not none else '-' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="margin:0 1rem 1rem;">
    {% include 'includes/pagination.html' %}
    </div>
    {% else %}
    <div class="alert alert-light"><i class="fe fe-alert-circle mr-2"></i>找不到项目!</div>
    {% endif %}
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        $(".list-checkbox-all").change(function () {
            var checked = $(this).is(":checked");
            $(this).closest("table").find(".list-checkbox").prop("checked", checked);
            toggle_batch();
        });
        $(".list-checkbox").change(function () {
            var checked = $(this).is(":checked");
            toggle_batch();
        });
    });
    //
    function toggle_batch() {
        var checked_length = $(".list-checkbox:checked").length;
        if (checked_length > 0) {
            $(".form-query").hide();
            $("#span-checked").text(checked_length);
            $(".form-batch").show();
        } else {
            $("#span-checked").text("");
            $(".form-batch").hide();
            $(".form-query").show();
        }
    }
    //
    function search_do(btn) {
        var form = btn.closest("form");
        location.href = "{{ request.path }}?" + form.serialize();
    }
    function search_reset() {
        location.href = "{{ request.path }}";
    }
    //
    function action(btn) {
        if (btn.is(".doing")) {
            return;
        }
        var con = window.confirm("action?");
        if (!con) {
            return false;
        }
        //
        btn.addClass("doing");
        var method = btn.is("input") ? "val" : "text";
        var oldLabel = btn[method]();
        btn[method](oldLabel + "...");
        //
        $.post("action", {"r": Math.random()}, function (result) {
            if (result.error == 0) {
                showSuccess(result.message);
            } else {
                showError(result.message);
            }
            btn.removeClass("doing");
            btn[method](oldLabel);
        }, 'json');
    }
</script>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base() }}/assets/vendor/flatpickr/dist/l10n/zh.js"></script>
{% endblock %}
