{% extends "layout-dash-demo.html" %}
{% set title = '项目仪表盘' %}
{% set breadcrumb = {
    'subtitle': '',
    'title': title,
    'actions': [],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="row ">
    <div class="col-lg">
        active_projects_count
    </div>
    <div class="col-lg">
        active_projects_value
    </div>
    <div class="col-lg">
        members_count
    </div>
    <div class="col-lg">
        tasks_count
    </div>
</div>
<div class="row ">
    <div class="col-lg-8">
        active_projects
    </div>
    <div class="col-lg-4">
        recent_activities
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
