<div class="form-group {{ 'row' if seed_is_horizontal }}" name="{{ field_name }}">
    <label class="{{ 'col-auto col-form-label' if seed_is_horizontal }}">{{ '<span class="text-danger mr-1">*</span>' if field_schema.required }}{{ field_schema.title }}</label>
    {% if seed_is_horizontal %}
    <div class="col">
    {% endif %}
    <div class="radio-input-group" {{ 'required' if field_schema.required }}>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            {# enum #}
            {% if field_schema.enum %}
            {{ '{%' }} for value, label in enum_titles('{{ field_schema.py_type }}')|items {{ '%}' }}
            <label class="btn btn-light {{ '{{' }} 'active' if value=={{ field_path }} {{ '}}' }}">
                <input type="radio" {{ '{{' }} 'checked' if value=={{ field_path }} {{ '}}' }}
                value="{{ '{{' }} value {{ '}}' }}"> {{ '{{' }} label {{ '}}' }}
            </label>
            {{ '{%' }} endfor {{ '%}' }}
            {# boolean #}
            {% elif field_schema.type == 'boolean' %}
            <label class="btn btn-light {{ '{{' }} 'active' if {{ value }} == true {{ '}}' }}">
                <input type="radio" {{ '{{' }} 'checked' if {{ value }} == true {{ '}}' }} value="true"> True
            </label>
            <label class="btn btn-light {{ '{{' }} 'active' if {{ value }} == false {{ '}}' }}">
                <input type="radio" {{ '{{' }} 'checked' if {{ value }} == false {{ '}}' }} value="false"> False
            </label>
            {% endif %}
        </div>
    </div>
    {% if field_schema.description %}
    <small class="mt-2 form-text text-muted">{{ field_schema.description }}</small>
    {% endif %}
    <div class="invalid-feedback">请选择{{ field_schema.title }}!</div>
    {% if seed_is_horizontal %}
    </div>
    {% endif %}
</div>
