{% set pagination = pagination or {
    'page': 3,
    'pages': 9,
    'prev': 2,
    'next': 4,
    'iter_pages': [1, 2, 3, 4, 5, None, 8, 9]
} %}
{% if pagination.pages > 0 %}
<ul class="pagination mb-0">
{% if pagination.prev %}
    <li class="page-item"><a class="page-link" href="{{ request.path~'?'~update_query(p=pagination.prev) }}">上一页</a></li>
{% endif %}
{% for page in pagination.iter_pages %}
{% if page %}
    {% if page != pagination.page %}
     <li class="page-item"><a class="page-link" href="{{ request.path~'?'~update_query(p=page) }}">{{ page }}</a> </li>
    {% else %}
    <li class="page-item active"><a class="page-link" href="javascript:;">{{ page }}<span class="sr-only">(current)</span></a></li>
    {% endif %}
{% else %}
    <li class="page-item"><a class="page-link" href="javascript:;">...</a></li>
{% endif %}
{% endfor %}
{% if pagination.next %}
    <li class="page-item"><a class="page-link" href="{{ request.path~'?'~update_query(p=pagination.next) }}">下一页</a></li>
{% endif %}
</ul>
{% endif %}