//
// grid
//

.container-xxl {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: auto;
  margin-left: auto;
}

.navbar .container-xxl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.navbar-topbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: .875rem;
}

// negative offset
@for $i from 1 through $grid-columns {
  .offset-n#{$i} {
    margin-left: -(100% / $grid-columns * $i);
  }
}

@each $breakpoint, $value in $grid-breakpoints {
  @if $breakpoint !='xs' {
    @include media-breakpoint-up(#{$breakpoint}) {
      @for $i from 1 through $grid-columns {
        .offset-#{$breakpoint}-n#{$i} {
          margin-left: -(100% / $grid-columns * $i);
        }
      }
    }
  }
}

//
// Customize colors
//

.bg-primary-gardient {
  background-image: linear-gradient(-45deg, mix($white, $primary, 44%), mix($white, $primary, 88%));
  background-position: center;
}

.bg-secondary-gardient {
  background-image: linear-gradient(-45deg, mix($white, $secondary, 44%), mix($white, $secondary, 88%));
  background-position: center;
}

.bg-danger-gardient {
  background-image: linear-gradient(-45deg, mix($white, $danger, 44%), mix($white, $danger, 88%));
  background-position: center;
}

.bg-warning-gardient {
  background-image: linear-gradient(-45deg, mix($white, $warning, 44%), mix($white, $warning, 88%));
  background-position: center;
}

.bg-success-gardient {
  background-image: linear-gradient(-45deg, mix($white, $success, 44%), mix($white, $success, 88%));
  background-position: center;
}

.bg-info-gardient {
  background-image: linear-gradient(-45deg, mix($white, $info, 44%), mix($white, $info, 88%));
  background-position: center;
}

.bg-header-gardient {
  background-image: linear-gradient(-45deg, mix($white, $gray-400, 44%), mix($white, $gray-400, 88%));
  background-position: center;
}

$my-purple: #8338ec;
$my-orange: #ff8700;

.border-purple {
  border-color: $my-purple !important;
}

.bg-purple {
  background-color: $my-purple !important;
}

.bg-purple-soft {
  background-color: mix($white, $my-purple, 88%) !important;
}

.bg-purple-gardient {
  background-image: linear-gradient(-45deg, mix($white, $my-purple, 44%), mix($white, $my-purple, 88%));
  background-position: center;
}

.border-orange {
  border-color: $my-orange !important;
}

.bg-orange {
  background-color: $my-orange !important;
}

.bg-orange-soft {
  background-color: mix($white, $my-orange, 88%) !important;
}

.bg-orange-gardient {
  background-image: linear-gradient(-45deg, mix($white, $my-orange, 44%), mix($white, $my-orange, 88%));
  background-position: center;
}

.border-left-primary {
  border-left: 2px solid $primary;
}

.border-left-secondary {
  border-left: 2px solid $secondary;
}

.border-left-success {
  border-left: 2px solid $success;
}

.border-left-danger {
  border-left: 2px solid $danger;
}

.border-left-warning {
  border-left: 2px solid $warning;
}

.border-left-info {
  border-left: 2px solid $info;
}

.border-left-light {
  border-left: 2px solid $light;
}

.border-left-dark {
  border-left: 2px solid $dark;
}

.border-left-purple {
  border-left: 2px solid $my-purple;
}

.border-left-orange {
  border-left: 2px solid $my-orange;
}

.border-left-gray-100 {
  border-left: 2px solid $gray-100;
}

.bg-white-90 {
  background-color: fade-out($white, .1) !important;
}

//
// Heights & Widths
//

.vw-50 {
  width: 50vw !important;
}

//
// Text
//

.text-decoration-line-through {
  text-decoration: line-through !important;
}

//
// Table
//

.table-compact {
  th {
    padding: 0.8rem 1rem;
  }

  td {
    padding: 0.8rem 1rem;
  }
}

//
// Add border
//

.border-left-8 {
  border-left-width: 8px !important;
}

//
// Fix dashkit breadcrumb-item align issue
//

.breadcrumb-item {
  + .breadcrumb-item::before {
    display: inline-block !important;
    float: none !important;
  }
}

//
// Fix dashkit readonly input background color issue
//

.form-control[readonly] {
  cursor: not-allowed;
}

//
// Avatar for team logo
//

.avatar-team {
  width: 8rem;
  height: 8rem;
  font-size: 8rem / 3;

  @include media-breakpoint-up(md) {
    width: 10rem;
    height: 10rem;
    font-size: 10rem / 3;
  }
}

//
// Splash screen
//

#splash-screen {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;

  .logo, .title {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 55%;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 20000;
  }
}

//
// gallery
//

.gallery {
  position: relative;

  a {
    display: block;
    position: relative;
    height: 300px;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 0.25rem;
    margin: 0 1.5rem 1.5rem 0;
    float: left;

    img {
      width: auto;
      height: 100%;
    }
  }
}

//
// tyepahead.js
//

span.twitter-typeahead {

  .tt-input {
    border-style: dotted;
    border-width: $input-border-width;
    border-color: $input-border-color;

    @include form-control-focus($ignore-warning: true);
  }

  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item, .active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}

//
// cascader
//

.cascader-input-group {

}

//
// heading
//

.heading {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  .title {
    margin: 0;
  }

  .hr {
    display: block;
    flex: 1;
    margin: 0 0 0 1rem;
    height: 1px;
    background: $border-color;
  }
}

//
// card
//

// image
.card-img {
  position: relative;
}

.card-img-hover {
  display: block;

  > * {
    float: left;
  }
}

.card-img-hover .card-img-top {
  transition: $transition-fade;
}

.card-img-hover .card-img-back {
  opacity: 0;
}

.card-img-hover .card-img-front {
  margin-left: -100%;
}

.card-img:hover .card-img-hover .card-img-back {
  opacity: 1;
}

.card-img:hover .card-img-hover .card-img-front {
  opacity: 0;
}

// overlay
.card-img-overlay {
  display: flex;

  > * {
    flex: 1;
  }
}

a.card-img-overlay {
  color: inherit;

  @include hover {
    text-decoration: $link-hover-decoration;
  }
}

.card-img-overlay-hover {
  opacity: 0;

  @if $enable-transitions {
    transition: $transition-fade;
  }
}

.card:hover .card-img-overlay-hover {
  opacity: 1;
}

// badge
.card-badge {
  position: absolute;
  top: 2rem;
  z-index: 1;
  border-radius: 0 !important;
  font-size: $font-size-base;
}

.card-badge-left {
  left: 0;
}

.card-badge-right {
  right: 0;
}

// price
.card-price {
  position: absolute;
  top: 0;
  z-index: 1;
  border: 0;
  border-radius: 0;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.card-price-left {
  left: 0;
}

.card-price-right {
  right: 0;
}

.card-price-left + .card-badge-left {
  top: 3.75rem;
}

.card-price-right + .card-badge-right {
  top: 3.75rem;
}


// background
.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-bg ~ * {
  z-index: 1;
}

.card-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + .25rem);
  height: 100%;

  @if $enable-transitions {
    transition: $transition-lg;
    transition-property: -webkit-transform, transform;
  }
}

.card:hover > .card-bg > .card-bg-img {
  transform: translateX(-.25rem);
}

.card-body {
  > p:last-child {
    margin-bottom: 0 !important;
  }
}

//
// underline
//

.link-underline {
  position: relative;
  display: inline-block;
  padding: .5rem 1.5rem;
  font-weight: $font-weight-bold;
  color: $dark;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    border-bottom: $border-width solid;
    transform-origin: left center;
    transition: $transition-lg;
    transition-property: -webkit-transform, transform;
  }

  @include hover {
    color: $dark;

    &::before {
      transform-origin: right center;
      transform: scaleX(0);
    }
  }
}

.form-control-underline {
  border-width: 0 0 $border-width 0;
  border-radius: 0;
}

.input-group-underline {
  border-width: 0 0 $border-width 0;
  border-radius: 0;
}

//
// rating
//

.rating {
  display: inline-flex;
  margin-bottom: 0;
}

.rating:not([data-value]) .rating-item {
  color: $gray-300;
}

.rating[data-value="1"] .rating-item:nth-child(n + 2) {
  color: $gray-300;
}

.rating[data-value="2"] .rating-item:nth-child(n + 3) {
  color: $gray-300;
}

.rating[data-value="3"] .rating-item:nth-child(n + 4) {
  color: $gray-300;
}

.rating[data-value="4"] .rating-item:nth-child(n + 5) {
  color: $gray-300;
}

.rating[data-value="5"] .rating-item:nth-child(n + 6) {
  color: $gray-300;
}

.rating-form {
  position: relative;
  display: inline-flex;
}

.rating-input {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

//
// checkbox
//

.custom-control-color {
  padding-left: 0;

  .custom-control-label {
    padding-left: $custom-control-color-indicator-size + $custom-control-gutter;

    &::before, &::after {
      left: 0;
      top: calc((1em * #{$line-height-base} - #{$custom-control-color-indicator-size}) / 2);
      width: $custom-control-color-indicator-size;
      height: $custom-control-color-indicator-size;
      border-radius: 50%;
    }

    &::before {
      background-color: currentColor !important;
      color: inherit !important;
    }

    // Empty

    &:empty {
      padding-left: $custom-control-color-indicator-size;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {

    &::before {
      background-color: currentColor;
    }

    &::after {
      background-color: fade-out(black, .95);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3e%3cpath fill='none' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' d='M9 1L3.5 7L1 4.27273'/%3e%3c/svg%3e");
    }
  }

  .custom-control-input:disabled ~ .custom-control-label {
    text-decoration: none;

    > span {
      color: $custom-control-label-disabled-color !important;
      text-decoration: line-through;
    }
  }
}

.custom-control-size {
  padding-left: 0;

  .custom-control-label {
    min-width: $custom-control-size-width;
    padding: $custom-control-size-spacing;
    text-align: center;
    border: $border-width solid $border-color;

    &::before,
    &::after {
      display: none;
    }
  }

  .custom-control-input:checked ~ .custom-control-label {
    border-color: currentColor;
  }

  .custom-control-input[disabled] ~ .custom-control-label {
    background-color: $light;
  }
}

//
// dropdown
//

.dropdown-toggle-right {
  &::after {
    float: right;
  }
}

.dropdown-toggle[data-toggle="collapse"] {

  &::after {
    @if $enable-transitions {
      transition: $transition-base;
    }

    transform-origin: center center;
  }
}

.dropdown-toggle[data-toggle="collapse"][aria-expanded="true"] {

  &::after {
    transform: rotate(180deg);
  }
}

//
// read & form
//

.field-group {
  margin-bottom: $label-margin-bottom;;

  label {
    &:after {
      content: ":";
      position: relative;
      top: -1px;
      margin-left: 0.25rem;
    }
  }

  &.row {
    label {
      padding-right: 0;

      &.col-field-label {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        line-height: 1.5;
        margin-bottom: 0;
      }
    }

    .field-control {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      line-height: 1.5;

      .badge {
        margin-top: -0.25rem;
      }
    }
  }
}

.custom-select {
  option[value=""] {
    color: $gray-500;
  }
}

//
// control last row's margin with in a card or modal
//
.card > .card-body,
.card > .card-body > .object,
.card > .card-body > .array,
.modal-content > .modal-body {
  // last row
  > .row:last-child {
    > .col, .col-sm {
      .form-group {
        margin-bottom: 0;
      }

      .field-group {
        margin-bottom: 0;
      }
    }

    > .form-group {
      margin-bottom: 0;
    }

    > .field-group {
      margin-bottom: 0;
    }

    &.form-group {
      margin-bottom: 0;
    }

    &.field-group {
      margin-bottom: 0;
    }
  }

  // last form group
  > .form-group:last-child {
    margin-bottom: 0;
  }

  // last field group
  > .field-group:last-child {
    margin-bottom: 0;
  }

  // list group
  > .list-group:first-child {
    margin-top: -0.75rem;
  }

  > .list-group:last-child {
    margin-bottom: -0.75rem;
  }

  // actions
  > .array-actions:last-child {
    margin-bottom: 0;
  }
}

.card > .table-responsive:last-child table {
  margin-bottom: 0;
}


//
// index
//

.counter-box {
  position: relative;
  background-color: rgba($white, 0.1);
  border: 2px solid rgba($white, 0.1);
  overflow: hidden;
  border-radius: 7px;

  .counter-icon {
    i {
      position: absolute;
      right: 14px;
      bottom: -20px;
    }
  }
}

//
// blog
//

.blog-content {
  position: relative;
  bottom: 14px;
  background: $white;
  border-radius: 4px;
}

.blog-sidebar {
  .tagcloud {
    > a {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid rgba($dark, 0.1);
      border-radius: 2px;
      color: lighten($dark, 10%);
      font-size: 12.4px;
      margin-top: 9px;
      margin-right: 6px;

      &:hover {
        background: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}

.blog-details-box {
  .post-meta {
    .list-inline-item {
      margin-right: 24px;
      color: $text-muted;

      a {
        color: $text-muted;
      }
    }
  }
}

//
// breadcrumbs
//

.page-header-box {
  color: $white;

  .breadcrumb {
    background: transparent;
    justify-content: center;

    .breadcrumb-item {
      a {
        color: rgba($white, 0.6);
      }

      &.active {
        color: $white;
      }
    }
  }

  .breadcrumb-item + .breadcrumb-item {
    &:before {
      color: $white;
    }
  }
}

//
// templates
//

.card-wrapper.template, .array-item.template, .list-group-item.template, tr.template {
  display: none;
}

//
// crud form
//

.form-editor {
  font-size: 1rem;

  fieldset {
    position: relative;
    //margin-bottom: 1rem;

    legend {
      font-size: 1.1rem;
      border-bottom: 1px solid $text-muted;
      padding-bottom: 0.25rem;
      text-transform: capitalize;

      &:hover {
        ~ {
          .act {
            display: block;
            opacity: 0.7;
          }
        }
      }
    }

    .act {
      font-size: 0.8rem;
      position: absolute;
      top: 1px;
      right: 1px;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 3px;

      &:hover {
        display: block;
        opacity: 1 !important;
      }

      a {
        border-radius: 0;
        margin-right: 2px;
        padding: 0.25em 0.7em 0.15em 0.7em;
        margin-top: 0;
        margin-bottom: 0;
        border: 1px solid #E2E7EB;
        background-color: #E2E7EB;
        color: #3C5168;

        &:hover {
          border-color: #65A1D8;
          background-color: #fff;
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }

        &:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          margin-right: 0;
        }

        &.add {
          border-color: #E5ECDF;
          background-color: #E5ECDF;
          color: #748A30;

          &:hover {
            border-color: #B4D865;
          }
        }

        &.del {
          border-color: rgb(255, 217, 217);
          background-color: rgb(255, 217, 217);
          color: #D5445C;

          &:hover {
            border-color: #CF4D4D;
          }
        }
      }
    }

    .form-group {
      position: relative;

      label {
        text-transform: capitalize;
      }

      &:hover {
        > .act {
          display: block;
          opacity: 0.7;
        }
      }
    }
  }

  select {
    &.is-invalid {
      ~ .select2-container {
        .custom-select {
          border: 1px solid $danger;
        }
      }
    }

    &.is-valid {
      ~ .select2-container {
        .custom-select {
          border: 1px solid $success;
        }
      }
    }
  }

  .radio-input-group.is-invalid {
    .btn-group {
      border-radius: $btn-border-radius;
      border: 1px solid $danger;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  .cascader-input-group {
    &.is-invalid {
      .form-control {
        border: 1px solid $danger;
      }

      ~ .invalid-feedback {
        display: block;
      }
    }

    &.is-valid {
      .form-control {
        border: 1px solid $success;
      }
    }
  }

  .image-input-group.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }

  .rte-input-group.is-invalid {
    ~ .invalid-feedback {
      display: block;
    }
  }

  .image-input-group {
    .image-input-result {
      .image {
        position: relative;
        width: 150px;
        height: 150px;
        border: $thumbnail-border-width solid $thumbnail-border-color;
        border-radius: .25rem;
        padding: .25rem;
        float: left;
        margin-right: .5rem;
        margin-bottom: .5rem;

        .btns {
          position: absolute;
          top: 50%;
          height: 20px;
          margin-top: -10px;
          width: 100%;
          text-align: center;
          display: none;

          a {
            background-color: $light;
            border-radius: 20px;
            line-height: 20px;
            width: 20px;
            height: 20px;
            padding: 0 5px;
            color: $dark;
            margin-right: .25rem;
          }
        }

        &:hover {
          .btns {
            display: block;
            opacity: 0.8;
          }
        }

        &.uploaded {
          img {
            height: 100%;
            width: auto;
          }
        }

        &.error {
          text-align: center;
          display: table;

          small {
            display: table-cell;
            vertical-align: middle;
            color: $danger;
          }
        }

        &.uploading {
          .progress {
            position: absolute;
            top: 50%;
            width: 140px;
            left: 50%;
            margin-left: -70px;
          }
        }
      }
    }
  }
}

//
// errors
//

// Error text with shadow
.text-error {
  color: $primary;
  text-shadow: rgba($primary, 0.3) 5px 1px, rgba($primary, 0.2) 10px 3px;
  font-size: 84px;
  line-height: 90px;
}

// Animation text
.error-text-box {
  font-size: 8rem;
  line-height: 1;

  .text {
    fill: none;
    stroke-width: 4;
    stroke-linejoin: round;
    stroke-dasharray: 30 100;
    stroke-dashoffset: 0;
    animation: stroke 9s infinite linear;
  }

  .text:nth-child(5n + 1) {
    stroke: $danger;
    animation-delay: -1.2s;
  }

  .text:nth-child(5n + 2) {
    stroke: $warning;
    animation-delay: -2.4s;
  }

  .text:nth-child(5n + 3) {
    stroke: $primary;
    animation-delay: -3.6s;
  }

  .text:nth-child(5n + 4) {
    stroke: $info;
    animation-delay: -4.8s;
  }

  .text:nth-child(5n + 5) {
    stroke: $success;
    animation-delay: -6s;
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .error-text-box {
    .text {
      fill: $danger;
      stroke: $danger;
      stroke-width: 6;
      stroke-dasharray: 0 0;
      stroke-dashoffset: 0;
      animation: none;
    }
  }
}

//
// crud raw
//

#raw-editor {
  font-size: 11pt;
  font-family: 'PT Mono', Monaco, 'Lucida Console', monospace;
  min-height: 400px;
  position: relative;

  textarea {
    font-family: 'PT Mono', Monaco, 'Lucida Console', monospace;
  }

  .irow {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    padding: 0px 0px 0px 15px;
    border-left: 1px solid #ddd;
    line-height: 1.3em;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;
      width: 8px;
      border-bottom: 1px solid #ddd;
    }

    &:last-child {
      border: none;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        border-left: 1px solid #ddd;
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.018);
    }
  }

  .ikey {
    width: 120px;
    padding-right: 10px;
    display: inline-block;
    word-break: break-all;
    font-size: 95%;
    line-height: 1.1em;
    opacity: 0.7;
    overflow: hidden;
    vertical-align: top;
    margin: 0.15em 0 0.4em 0px;
  }

  .ilabel {
    font-size: 80%;
    padding: 0 5px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    opacity: 0.9;
    display: inline-block;
    margin: -1px 5px 0 5px;
  }

  .ivalue {
    word-break: break-all;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
  }

  .ilist {
    word-break: break-all;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  .idesc {
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
  }

  .imulti.ivalue {
    cursor: inherit;
  }

  .iseditor {
    .ivalue {
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre;
      padding: 0.2em 0.4em 0.4em 0.5em;
      font-family: 'PT Mono', Monaco, 'Lucida Console', monospace;
      max-height: 400px;
      overflow: auto;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
      font-size: 90%;
      border-radius: 2px;
      margin: -4px 0 -3px 0;
      tab-size: 2;
      background-color: rgba(255, 255, 240, 0.8);
      cursor: text;
    }
  }

  .inav {
    padding-left: 130px;
    margin: 4px 0;

    .ikey {
      margin-left: -130px;
    }

    &:hover {
      ~ {
        .iact {
          display: block;
          opacity: 0.7;
          background: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }

  .iact {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 3px;

    &:hover {
      display: block;
      opacity: 1 !important;
    }

    a {
      border-radius: 0;
      margin-right: 2px;
      padding: 0.25em 0.7em 0.15em 0.7em;
      margin-top: 0;
      margin-bottom: 0;
      display: block;
      border: 1px solid #E2E7EB;
      background-color: #E2E7EB;
      color: #3C5168;

      &:hover {
        border-color: #65A1D8;
        background-color: #fff;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-right: 0;
      }
    }

    a.add-list-item {
      border-color: #E5ECDF;
      background-color: #E5ECDF;
      color: #748A30;

      &:hover {
        border-color: #B4D865;
      }
    }

    a.del-list-item {
      border-color: rgb(255, 217, 217);
      background-color: rgb(255, 217, 217);
      color: #D5445C;

      &:hover {
        border-color: #CF4D4D;
      }
    }
  }

  .inav.iseditor {
    ~ {
      .iact {
        display: none;
      }
    }
  }

  #doc {
    padding: 0;
    border: none;
    overflow: visible;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }

    > .inav {
      padding-left: 135px;

      .ikey {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0 0 0 -135px;
        width: 120px;
      }
    }

    > .iact {
      opacity: 0.3;
      top: -4px;
      right: 0;
    }
  }

  .tag.active {
    background-color: rgba(135, 212, 0, 0.17) !important;
    color: rgb(65, 132, 0) !important;
  }

  .imulti {
    .template {
      display: none;
    }
  }

  .bold {
    font-weight: bold;
  }

  .number {
    span {
      color: #f76500 !important;
    }
  }

  .bool {
    span {
      color: #82888E !important;
      padding: 0 10px !important;
      border-radius: 100px !important;
    }

    span.active {
      background-color: rgba(135, 212, 0, 0.17) !important;
      color: rgb(65, 132, 0) !important;
    }
  }

  .choice {
    span {
      color: #82888E !important;
      padding: 0 10px !important;
      border-radius: 100px !important;
    }

    span.active {
      background-color: rgba(135, 212, 0, 0.17) !important;
      color: rgb(65, 132, 0) !important;
    }
  }

  .datetime {
    i {
      color: #cccccc !important;
    }
  }

  .null {
    color: #A3293D !important;
  }

  .unsupported {
    span {
      color: #cccccc !important;
    }
  }

  .imulti.list {
    > .ilist {
      > .irow {
        > .inav {
          > .ikey {
            cursor: move;
          }
        }
      }
    }
  }
}
