{% extends 'dashboard/base.html' %}

{% block title %}Blank Page{% endblock %}

{% block main %}
    <section class="wrapper">
        <div class="container-fluid">

            {% include 'blocks/breadcrumbdash.html' %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>Lorem Ipsum</h4>
                            <p class="text-muted">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                                consectetur, adipisci velit...</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}