{% extends 'layoutdash.html' %}

{% set breadcrumb = {
    'title': 'Dashboard',
    'links': [
        {'url':'/', 'title': 'Home'},
        {'url':'/dashboard/', 'title': 'Dashboard'}
    ]
} %}

{% block title %}Dashboard{% endblock %}

{% block left %}
    <section>
        <h4>Index</h4>
        <p class="text-muted">This is dashboard index page</p>
    </section>
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted">Subtitle</p>
    </section>
{% endblock %}