{% extends 'layoutdash.html' %}

{% set update = true if record._id else false %}
{% set title = ('Update' if update else 'Create') + ' ' + model.name|capitalize %}
{% set breadcrumb = {
    'title': title,
    'links': [
        {'url':'/', 'title':'Home'},
        {'url':'/dashboard/', 'title':'Dashboard'},
        {'url':'/crud/', 'title':'Models'},
        {'url':'/crud/list/'+model.name, 'title': model.name+'s'},
        {'url':'/crud/form/'+model.name+'/'+record._id, 'title': title}
    ]
} %}
{% set plupload_config = {
    'url': '//upload.qiniup.com/',
    'max': '10mb',
    'exts': 'jpg, jpeg, png',
    'preview': '-prev',
    'rte': '-rte'
} %}
{% set plural = model.name + 's' %}
{% set initial = model.name|first %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
    {{ render_style() }}
{% endblock %}

{% block left %}
    {{ render_html() }}
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted"></p>
        <ul class="list-unstyled">
            {% if update %}
                <li>1. You are updating {{ model.name }}: <code>{{ record._id }}</code>.</li>
            {% else %}
                <li>1. You are creating {{ model.name }}.</li>
            {% endif %}
            <li>2. The whole record will be overwrited when updating.</li>
            {% if current_user.is_admin %}
                <li>2. You can generate codes by clicking <a class="text-danger" href="#gen" data-toggle="modal">GEN</a>
                    here.
                </li>
            {% endif %}
        </ul>
        {% if update %}
            <a class="btn btn-primary btn-sm" href="javascript:;"
               onclick="save($(this));">Save</a>
            <a class="btn btn-success btn-sm" href="javascript:;"
               onclick="save($(this), true);">Copy</a>
            <a class="btn btn-warning btn-sm" href="/crud/json/{{ model.name }}/{{ record._id }}"
               target="_blank">Json</a>
            <a class="btn btn-light btn-sm" href="/crud/list/{{ model.name }}">Cancel</a>
        {% else %}
            <a class="btn btn-primary btn-sm" href="javascript:;"
               onclick="save($(this));">Save</a>
            <a class="btn btn-light btn-sm" href="/crud/list/{{ model.name }}">Cancel</a>
        {% endif %}
    </section>
{% endblock %}

{% block script %}
    {% if current_user.is_admin %}
        <div class="modal fade" id="gen" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Code Generation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Html</h5>
                                    <p class="text-muted">Template name should be <code>form.html</code>, and variables
                                        used in template are <code>{{ model.name }}</code> & <code>token</code>.
                                    <div class="code html" style="height:600px;"></div>
                                    <iframe style="display:none;">
                                        <!-- STYLE -->{{ render_style() }}
                                        <!-- HTML -->{{ render_html(true) }}
                                        <!-- SCRIPT -->{{ render_script(true) }}
                                    </iframe>
                                </div>
                                <div class="col-md-6">
                                    <h5>Python</h5>
                                    <p class="text-muted">Default blueprint is <code>{{ plural }}</code>, please
                                        change
                                        it accordingly.</p>
                                    <div class="code python" style="height:600px;"></div>
                                    <textarea style="display:none;">
from flask import Blueprint, render_template, current_app, request, jsonify, abort
from flask_babel import gettext as _
from app.core import populate_model, Pagination
from app.models import {{ model.name|capitalize }}
from app.tools import auth_permission

{{ plural }} = Blueprint('{{ plural }}', __name__)

@{{ plural }}.route('/save/&lt;ObjectId:{{ initial }}id&gt;', methods=('POST',))
@{{ plural }}.route('/save', methods=('POST',))
@auth_permission
def save({{ initial }}id=None):
    """ Create or Update a {{ model.name }}. """
    try:
        {{ model.name }} = populate_model(request.form, {{ model.name|capitalize }})

        # TODO: Implement some validation logic here

        # Create
        if not {{ initial }}id:
            {{ model.name }}.save()
            {{ initial }}id = {{ model.name }}._id
            current_app.logger.info('Successfully create {{ model.name }} %s' % {{ initial }}id)
        # Update
        else:
            existing = {{ model.name|capitalize }}.find_one({{ initial }}id)
            if not existing:
                abort(404)
            # TODO: Only update necessary fields,
            # e.g,
            # existing.status = {{ model.name }}.status
            # existing.updateTime = datetime.now()
            existing.save()
            current_app.logger.info('Successfully update {{ model.name }} %s' % {{ initial }}id)
    except:
        current_app.logger.exception('Failed when saving {{ model.name }}')
        return jsonify(success=False, message=_('Failed when saving {{ model.name }}, please try again later!'))

    return jsonify(success=True, message=_('Save {{ model.name }} successfully.'), {{ initial }}id={{ initial }}id)
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {# Below libs are used for code generation only, so we do NOT include them in package.json #}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-html.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-python.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-searchbox.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify.js"></script>
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("div.code").each(function (i, n) {
                    var editor = ace.edit(n), session = editor.getSession(), code = "";
                    session.setUseWorker(false);
                    if ($(n).is(".html")) {
                        session.setMode("ace/mode/html");
                        // Find the html code in next textarea, so that we do need to perform html escape manually
                        code = html_beautify($(n).next("iframe").html().trim(), {
                            indent_size: "2",
                            indent_char: " ",
                            max_preserve_newlines: -1,
                            preserve_newlines: false,
                        });
                    } else if ($(n).is(".python")) {
                        session.setMode("ace/mode/python");
                        code = $(n).next("textarea").val().trim();
                    }
                    session.setValue(code);
                });
            });
        </script>
    {% endif %}
    {{ render_script() }}
{% endblock %}

{% macro render_html(gen=false) %}
    <section>
        <form id="form-editor" class="form-editor needs-validation {{ 'gen' if gen }}" novalidate method="post">
            {% if gen %}
                {{ render('Root', model.jschema, none, gen=true) }}
            {% else %}
                {{ render('Root', model.jschema, record) }}
            {% endif %}
        </form>
    </section>
{% endmacro %}

{% macro render(name, jschema, jvalue, is_in_list=false, is_required=false, gen=false) %}
    {% if jschema.type == 'object' %} {# Object #}
        {% set rvalue = {} if jvalue is none or jvalue is undefined else jvalue %}
        <fieldset class="object {{ 'mb-0' if is_in_list }}" name="{{ name }}">
            <legend>
                <span class="name">{{ name }}</span>
                <span class="text-muted">{{ '*' if is_required }}</span>
            </legend>
            {% for n,s in jschema.properties %}
                {% set required = n in jschema.required %}
                {% if n =='_id' %}
                    {# skip #}
                {% else %}
                    {{ render(n, s, rvalue[n], is_required=required, gen=gen) }}
                {% endif %}
            {% endfor %}
            <div class="act">
                <a class="format" href="javascript:;">Object {{ '{' }}{{ jschema.properties|length }}{{ '}' }}</a>
                {% if is_in_list %}
                    <a class="del" href="javascript:;">x</a>
                {% endif %}
            </div>
        </fieldset>
    {% elif jschema.type == 'array' %} {# Array #}
        {% set rvalue = [] if jvalue is none or jvalue is undefined else jvalue %}
        {% if jschema.format == 'select' and jschema.items.type in ['integer','number','string'] %} {# select #}
            <div class="form-group array" name="{{ name }}">
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                {% if jschema.items.enum %}{# inner is enum #}
                    <select class="custom-select select2" name="{{ name }}" {{ 'required' if is_required }}
                            multiple>
                        <option value="">Choose...</option>
                        {% for each in jschema.items.enum %}
                            <option value="{{ each }}" {{ 'selected' if each in rvalue }}>{{ each }}</option>
                        {% endfor %}
                    </select>
                {% else %} {# tags #}
                    <select class="custom-select select2" name="{{ name }}" {{ 'required' if is_required }}
                            multiple tags>
                        {% for r in rvalue %}
                            <option value="{{ r }}" selected>{{ r }}</option>
                        {% endfor %}
                    </select>
                    <small class="form-text">You can select existing option or input a new option.</small>
                {% endif %}
                <div class="invalid-feedback">Please input valid {{ name }}!</div>
                <div class="act">
                    <a class="format"
                       href="javascript:;">{{ jschema.items.type }} {{ jschema.type }}|{{ jschema.format }}</a>
                </div>
            </div>
        {% elif jschema.format == 'image' and jschema.items.type in ['string', 'object'] %} {# image #}
            {% set hiddens = jschema.items.properties|keys if jschema.items.type == 'object' else ['url'] %}
            <div class="form-group array" name="{{ name }}">
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                <div class="image-input-group" {{ 'required' if is_required }}>
                    <a class="btn btn-primary plupload" href="javascript:;"
                       hiddens="{{ hiddens|join(',') }}"
                       multiple>Choose Images...</a>
                    <small class="form-text">Support {{ plupload_config.exts }}.
                    </small>
                    <div class="image-input-result mt-1 clearfix">
                        {% if jschema.items.type == 'object' %} {# object array #}
                            {% for r in rvalue %}
                                <div class="image uploaded">
                                    <img src="{{ r.url }}{{ plupload_config.preview }}">
                                    <div class="btns">
                                        <a href="{{ r.url }}" target="_blank">i</a>
                                        <a href="javascript:;" onclick="$(this).closest('.image').remove();">x</a>
                                    </div>
                                    {# inner object properties should be url/key/name/width/height #}
                                    {% for k in hiddens %}
                                        <input type="hidden" name="{{ k }}" value="{{ r[k] }}">
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %} {# string array #}
                            {% for r in rvalue %}
                                <div class="image uploaded">
                                    <img src="{{ r }}{{ plupload_config.preview }}">
                                    <div class="btns">
                                        <a href="{{ r }}" target="_blank">i</a>
                                        <a href="javascript:;" onclick="$(this).closest('.image').remove();">x</a>
                                    </div>
                                    <input type="hidden" name="url" value="{{ r }}">
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="invalid-feedback">Please input valid {{ name }}!</div>
                <div class="act">
                    <a class="format"
                       href="javascript:;">{{ jschema.items.type }} {{ jschema.type }}|{{ jschema.format }}</a>
                </div>
            </div>
        {% else %}
            <fieldset class="array {{ 'mb-0' if is_in_list }}" name="{{ name }}">
                <legend>
                    <span class="name">{{ name }}</span>
                    <span class="text-muted">{{ '*' if is_required }}</span>
                </legend>
                <div class="list-group">
                    {% for r in rvalue %}
                        <div class="list-group-item">
                            {{ render(loop.index0, jschema.items, r, is_in_list=true, gen=gen) }}
                        </div>
                    {% endfor %}
                    {% set init = none %}
                    {% if jschema.items.type == 'object' %}
                        {% set init = {} %}
                    {% elif jschema.items.type == 'array' %}
                        {% set init = [] %}
                    {% endif %}
                    {% if is_required and rvalue|length == 0 %} {# Create a empty form for required array #}
                        <div class="list-group-item">
                            {{ render(rvalue|length, jschema.items, init, is_in_list=true, gen=gen) }}
                        </div>
                    {% endif %}
                    <div class="list-group-item template"> {# Template form for adding elements to array #}
                        {{ render(rvalue|length, jschema.items, init, is_in_list=true, gen=gen) }}
                    </div>
                </div>
                <div class="act">
                    <a class="format" href="javascript:;">array [{{ rvalue|length }}]</a>
                    <a class="add" href="javascript:;">+</a>
                    {% if is_in_list %}
                        <a class="del" href="javascript:;">x</a>
                    {% endif %}
                </div>
            </fieldset>
        {% endif %}
    {% else %} {# Simple types #}
        {% if gen %}
            {% set rvalue = '{{ ' + model.name + '.' + name + ' }}' %}
        {% else %}
            {% set rvalue = '' if jvalue is none or jvalue is undefined else jvalue %}
        {% endif %}
        <div class="form-group" name="{{ name }}">
            {% if jschema.enum %} {# enum -> select2/radios  #}
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                {% if jschema.format == 'select' %}
                    <select class="custom-select select2" name="{{ name }}" {{ 'required' if is_required }}>
                        <option value="">Choose...</option>
                        {% for each in jschema.enum %}
                            <option value="{{ each }}" {{ 'selected' if each == rvalue }}>{{ each }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <div class="radio-input-group" {{ 'required' if is_required }}>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            {% for each in jschema.enum %}
                                <label class="btn btn-light {{ 'active' if each==rvalue }}">
                                    <input type="radio" {{ 'checked' if each==rvalue }}
                                           value="{{ each }}"> {{ each }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% elif jschema.type == 'integer' or jschema.type == 'number' %} {# integer & number -> pattern input #}
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                <input name="{{ name }}" type="string" class="form-control"
                       pattern="{{ '[0-9]*' if jschema.type == 'integer' else '[0-9\.]*' }}"
                       value="{{ rvalue }}" {{ 'required' if is_required }}>
            {% elif jschema.type == 'boolean' %} {# boolean -> radios #}
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                <div class="radio-input-group" {{ 'required' if is_required }}>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-light {{ 'active' if rvalue }}">
                            <input type="radio" {{ 'checked' if rvalue }} value="true"> True
                        </label>
                        <label class="btn btn-light {{ 'active' if not rvalue }}">
                            <input type="radio" {{ 'checked' if not rvalue }} value="false"> False
                        </label>
                    </div>
                </div>
            {% elif jschema.type == 'string' %} {# string -> textarea/rte/image/input/date-time/date #}
                <label>{{ name }}</label>
                <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
                {% if jschema.format == 'textarea' %}
                    <textarea name="{{ name }}" rows="3"
                              class="form-control" {{ 'required' if is_required }}>{{ rvalue|safe }}</textarea>
                {% elif jschema.format == 'rte' %}
                    <div class="rte-input-group" {{ 'required' if is_required }}>
                        <div class="quill" name="{{ name }}">{{ rvalue|safe }}</div>
                        <small class="form-text">You can upload images by clicking the image button in the boolbar,
                            support {{ plupload_config.exts }}. <a class="quill-plupload">&nbsp;</a>
                        </small>
                    </div>
                {% elif jschema.format == 'image' %}
                    <div class="image-input-group" {{ 'required' if is_required }}>
                        <a class="btn btn-primary plupload" href="javascript:;"
                           hiddens="url">Choose Image...</a>
                        <small class="form-text">Support {{ plupload_config.exts }}.
                        </small>
                        <div class="image-input-result mt-1 clearfix">
                            {% if rvalue|length %}
                                <div class="image uploaded">
                                    <img src="{{ rvalue }}{{ plupload_config.preview }}">
                                    <div class="btns">
                                        <a href="{{ rvalue }}" target="_blank">i</a>
                                        <a href="javascript:;" onclick="$(this).closest('.image').remove();">x</a>
                                    </div>
                                    <input type="hidden" name="url" value="{{ rvalue }}">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <input name="{{ name }}" type="text"
                           class="form-control {{ jschema.format }}" {{ 'required' if is_required }}
                           value="{{ rvalue }}">
                {% endif %}
            {% endif %}
            <div class="invalid-feedback">Please input valid {{ name }}!</div>
            <div class="act">
                <a class="format" href="javascript:;">
                    {{ jschema.type }}{{ '|' + jschema.format if jschema.format }}</a>
                {% if is_in_list %}
                    <a class="del" href="javascript:;">x</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro render_style() %}
    <link href="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base() }}/assets/vendor/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base() }}/assets/vendor/quill/dist/quill.snow.css" rel="stylesheet" type="text/css">
{% endmacro %}

{% macro render_script(gen=false) %}
    {# for format date-time & date #}
    <script type="text/javascript" src="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    {# for format select #}
    <script type="text/javascript" src="{{ base() }}/assets/vendor/select2/dist/js/select2.min.js"></script>
    {# for format image & rte #}
    <script type="text/javascript" src="{{ base() }}/assets/vendor/plupload/js/plupload.full.min.js"></script>
    {# for format rte #}
    <script type="text/javascript" src="{{ base() }}/assets/vendor/quill/dist/quill.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            install($(".form-editor:not(.gen)"));
        });

        function install(container) {
            //
            // Install array add or delete action
            //

            // Array add
            container.find(".act > .add").click(function () {
                // Find the last .list-group-item and clone it
                var list = $(this).parent().prev(".list-group"), template = list.children(".list-group-item.template"),
                    clone = template.clone(true), inner = clone.children(), label = null;
                clone.removeClass("template");
                if (inner.is(".form-group")) {
                    label = inner.children("label");
                } else {
                    label = inner.children("legend").children(".name");
                }
                var index = new Number(label.text());
                label.text(++index);
                list.append(clone);

                // Install complex components
                clone.find(".plupload:visible").each(function (i, n) {
                    install_plupload($(n));
                });
                clone.find(".quill:visible").each(function (i, n) {
                    install_quill($(n));
                });
            });
            // Array delete
            container.find(".act > .del").click(function () {
                var con = window.confirm("Are you sure to delete this item?");
                if (!con) {
                    return false;
                }
                $(this).closest(".list-group-item").remove();
            });

            //
            // Install components
            //

            // Flatpickr
            // https://flatpickr.js.org/formatting/
            container.find("input.date-time").flatpickr({
                enableTime: true,
                dateFormat: "Y-m-d H:i:S",
                defaultHour: new Date().getHours(),
                defaultMinute: new Date().getMinutes()
            });
            container.find("input.date").flatpickr({
                dateFormat: "Y-m-d"
            });

            // Select2
            // https://select2.org/
            container.find("select.select2").each(function (i, n) {
                var option = {tags: $(n).is("[tags]")};
                $(n).select2(option)
            });

            // Image
            // https://www.plupload.com/docs/v2/Getting-Started
            // NOTE: Only install on the visible inputs, for dynamic created inputs, need to invoke install_plupload manually
            container.find(".plupload:visible").each(function (i, n) {
                install_plupload($(n));
            });

            // Rte
            // https://github.com/quilljs/quill/
            container.find(".quill:visible").each(function (i, n) {
                install_quill($(n));
            });
        }

        var global_pluploading = false, global_token = "{{ '{{ token }}' if gen else token}}";

        function install_plupload(btn) {
            var result = btn.closest(".image-input-group").find(".image-input-result"), multi = btn.is("[multiple]"),
                hiddens = btn.attr("hiddens");
            // Generate a unique id for button so it can work correctly
            btn.attr("id", "plupload-" + Math.round(new Date() / 1000));
            var uploader = new plupload.Uploader({
                browse_button: btn[0],
                url: "{{ plupload_config.url }}",
                max_file_size: "{{ plupload_config.max }}",
                filters: {
                    mime_types: [
                        {title: "Image files", extensions: "{{ plupload_config.exts }}"}
                    ]
                },
                multi_selection: multi,
                multipart_params: {token: global_token}
            });
            uploader.init();
            uploader.bind('FilesAdded', function (up, files) {
                var html = '';
                plupload.each(files, function (file) {
                    html += '<div id="' + file.id + '" class="image uploading"><div class="progress progress-sm"><div class="progress-bar" style="width:5%;"></div></div></div>';
                });
                if (multi) {
                    result.append(html);
                } else {
                    result.html(html);
                }
                up.start();
                global_pluploading = true;
            });
            uploader.bind('UploadProgress', function (up, file) {
                $("#" + file.id).find(".progress-bar").css("width", file.percent + "%");
            });
            uploader.bind('Error', function (up, err) {
                if (err.file) {
                    var html = '<small class="text-danger">' + err.file.name + '<br>' + err.message + ' (' + err.code + ')</small>';
                    // Errors may happen before FilesAdded event, e.g, "File size error.", so need to check if any wrap div here
                    if ($("#" + err.file.id).length) {
                        $("#" + err.file.id).removeClass("uploading").addClass("error").html(html);
                    } else {
                        html = '<div id="' + err.file.id + '" class="image error">' + html + '</div>';
                        result.html(html);
                    }
                } else {
                    showError("Failed when uploading, " + err.message + " (" + err.code + ")");
                }
            });
            uploader.bind("FileUploaded", function (up, file, c) {
                // Response from qiniu service
                var d = jQuery.parseJSON(c.response);
                // Service error, // https://developer.qiniu.com/kodo/manual/1651/simple-response
                if (d.error) {
                    var html = '<small class="text-danger">' + file.name + '<br>' + d.error + '</small>';
                    $("#" + file.id).removeClass("uploading").addClass("error").html(html);
                }
                // Defined response, https://developer.qiniu.com/kodo/manual/1654/response-body
                // d
                //   url - uploaded url = base + '/' + key, e.g, //cdn.flask-seed.com/20200521/183247_821388.jpg
                //   key - relative path from base, e.g, 20200521/183247_821388.jpg
                //   name - upload file name
                //   width - image width, int
                //   height - image height, int
                else {
                    var img = $('<img>').one("load", function () {
                        $(this).closest(".image").css("width", "auto");
                    }).attr("src", d.url + "{{ plupload_config.preview }}");
                    var image = $("#" + file.id).removeClass("uploading").addClass("uploaded").html(img);
                    var btns = '<div class="btns"><a href="' + d.url + '" target="_blank">i</a><a href="javascript:;" onclick="$(this).closest(\'.image\').remove();">x</a></div>';
                    image.append(btns);
                    $.each(hiddens.split(','), function (i, k) {
                        var v = k in d ? d[k] : "";
                        var hidden = $('<input type="hidden" name="' + k + '">').val(v);
                        image.append(hidden);
                    });
                }
            });
            uploader.bind("UploadComplete", function (up, files) {
                global_pluploading = false;
            });
        }

        function install_quill(div) {
            var random = Math.round(new Date() / 1000);
            div.attr("id", "quill-" + random);
            // Install quill
            var toolbarOptions = [
                [{'header': [2, false]}],
                ['bold', 'italic', 'underline'],
                [{'list': 'ordered'}, {'list': 'bullet'}],
                ['link', 'image'],
                ['blockquote', 'code-block'],
                ['clean']
            ];
            var quill = new Quill(div[0], {
                    placeholder: 'Please input rich text here',
                    theme: 'snow',
                    modules: {
                        toolbar: {
                            container: toolbarOptions,
                            handlers: {
                                'image': function (value) {
                                    if (value) {
                                        $("#quill-plupload-" + random).next(".moxie-shim").children("input[type=file]").trigger('click');
                                    } else {
                                        this.quill.format('image', false);
                                    }
                                }
                            }
                        },
                    }
                }
            );
            // Install plupload for quill
            var pluploaBtn = div.closest(".rte-input-group").find(".quill-plupload");
            pluploaBtn.attr("id", "quill-plupload-" + random);
            var uploader = new plupload.Uploader({
                browse_button: pluploaBtn[0],
                url: "{{ plupload_config.url }}",
                max_file_size: "{{ plupload_config.max }}",
                filters: {
                    mime_types: [
                        {title: "Image files", extensions: "{{ plupload_config.exts }}"}
                    ]
                },
                multi_selection: true,
                multipart_params: {token: global_token}
            });
            uploader.init();
            uploader.bind('FilesAdded', function (up, files) {
                up.start();
                global_pluploading = true;
            });
            uploader.bind('Error', function (up, err) {
                if (err.file) {
                    showError("Failed when uploading file " + err.file.name + ", " + err.message + " (" + err.code + ")");
                } else {
                    showError("Failed when uploading, " + err.message + " (" + err.code + ")");
                }
            });
            uploader.bind("FileUploaded", function (up, file, c) {
                var d = jQuery.parseJSON(c.response);
                if (d.error) {
                    showError("Failed when uploading file " + file.name + ", " + d.error);
                } else {
                    var length = (quill.getSelection() || {}).index || quill.getLength();
                    quill.insertEmbed(length, 'image', d.url + "{{ plupload_config.rte }}");
                    quill.insertText(length + 1, '\n');
                    quill.setSelection(length + 2);
                }
            });
            uploader.bind("UploadComplete", function (up, files) {
                global_pluploading = false;
            });

        }

        function save(btn, copy) {
            copy = copy || false;
            if (btn.is(".doing")) {
                return;
            }
            {% if gen %}
                var msg = "Are you sure to save this {{ model.name }}?";
            {% else %}
                var msg = copy ? "Are you sure to copy this record?" : "Are you sure to save this record?";
            {% endif %}
            var con = window.confirm(msg);
            if (!con) {
                return false;
            }

            // Recursively traverse the form to validate and create the param for post
            var param = {"valid": true};
            process(param, $("#form-editor > fieldset"), "{{ model.name }}");
            debug(param);
            if (!param["valid"]) {
                showError('Something invalid, please check!');
                return false;
            }

            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");

            {% if gen %}
                var url = "/{{ plural }}/save/{{ '{{' }} {{ model.name }}.id {{ '}}' }}";
            {% else %}
                var url = copy ? "/crud/save/{{ model.name }}/" : "/crud/save/{{ model.name }}/{{ record._id }}";
            {% endif %}
            $.post(url, param, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                    showInfo('Refreshing...');
                    setTimeout(function () {
                        {% if gen %}
                            location.href = "/{{ plural }}/form/" + result.rid;
                        {% else %}
                            location.href = "/crud/form/{{ model.name }}/" + result.rid;
                        {% endif %}
                    }, 2000);
                } else {
                    showError(result.message);
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, "json");
        }

        function process(param, field, path) {
            debug("Try to process path " + path);
            // object
            if (field.is(".object")) {
                field.find("> .form-group, > fieldset").each(function (i, n) {
                    process(param, $(n), path + "." + $(n).attr("name"));
                });
            }
            // array
            else if (field.is(".array")) {
                var select = field.children("select"), imageInputGroup = field.children(".image-input-group");
                if (select.length) { // array of integer/number/string
                    select.removeClass("is-valid is-invalid");
                    var vals = select.val();
                    if (vals.length) {
                        $.each(vals, function (i, n) {
                            param[path + "[" + i + "]"] = n;
                        });
                    } else {
                        // Manually validate required
                        if (select.is("[required]")) {
                            select.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                } else if (imageInputGroup.length) { // array of string/object
                    imageInputGroup.removeClass("in-valid is-invalid");
                    var images = imageInputGroup.find(".image.uploaded");
                    if (images.length) {
                        $.each(images, function (i, n) {
                            var hiddens = $(n).find(":hidden[name]");
                            if (hiddens.length == 1) {
                                param[path + "[" + i + "]"] = hiddens.val();
                            } else {
                                $.each(hiddens, function (j, h) {
                                    param[path + "[" + i + "]." + $(h).attr("name")] = $(h).val();
                                });
                            }
                        });
                    } else {
                        // Manually validate required
                        if (imageInputGroup.is("[required]")) {
                            imageInputGroup.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                } else {
                    field.find("> .list-group > .list-group-item").not(".template").each(function (i, n) {
                        process(param, $(n).children(), path + "[" + i + "]");
                    });
                }
            }
            // simple types
            else {
                var radioInputGroup = field.children(".radio-input-group"),
                    imageInputGroup = field.children(".image-input-group"),
                    rteInputGroup = field.children(".rte-input-group"),
                    simpleInput = field.children(":input[name]");
                if (radioInputGroup.length) {
                    radioInputGroup.removeClass("is-valid is-invalid");
                    // If radio group is in array, they may share same name, so here use the active button to get checked value
                    var active = radioInputGroup.find(".active");
                    if (active.length) {
                        param[path] = active.children(":radio").val().trim();
                    } else {
                        // Manually validate required
                        if (radioInputGroup.is("[required]")) {
                            radioInputGroup.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                } else if (imageInputGroup.length) {
                    imageInputGroup.removeClass("in-valid is-invalid");
                    var image = imageInputGroup.find(".image.uploaded");
                    if (image.length) {
                        param[path] = image.find(":hidden[name=url]").val();
                    } else {
                        // Manually validate required
                        if (imageInputGroup.is("[required]")) {
                            imageInputGroup.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                } else if (rteInputGroup.length) {
                    rteInputGroup.removeClass("in-valid is-invalid");
                    var html = rteInputGroup.find(".ql-editor").html().trim(),
                        text = rteInputGroup.find(".ql-editor").text().trim();
                    if (text.length) {
                        param[path] = html;
                    } else {
                        // Manually validate required
                        if (rteInputGroup.is("[required]")) {
                            rteInputGroup.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                } else if (simpleInput.length) {
                    simpleInput.removeClass("is-invalid is-valid");
                    var val = simpleInput.val().trim();
                    if (val.length) {
                        param[path] = val;
                        // Invoke built-in validation for Non-empty value
                        if (simpleInput[0].checkValidity) {
                            if (simpleInput[0].checkValidity() === false) {
                                simpleInput.addClass("is-invalid");
                                param["valid"] = false;
                            } else {
                                simpleInput.addClass("is-valid");
                            }
                        }
                    } else {
                        // Manually validate required only for empty value
                        if (simpleInput.is("[required]")) {
                            simpleInput.addClass("is-invalid");
                            param["valid"] = false;
                        }
                    }
                }
                debug("Parsed string is " + param[path]); // All values in form are string type
            }
        }

        function debug(msg, more = null) {
            if (console && console.log) {
                if (more) {
                    console.log(msg, more)
                } else {
                    console.log(msg);
                }
            }
        }
    </script>
{% endmacro %}