{% extends 'dashboard/base.html' %}

{% block title %}Models{% endblock %}

{% block main %}
    <section class="wrapper">
        <div class="container-fluid">

            {% set breadcrumb = {
                'title': 'Models',
                'links': [
                    {'url':'/', 'title':'Home'},
                    {'url':'/dashboard/', 'title':'Dashboard'},
                    {'url':'/crud/', 'title':'Models'}
                ]
            } %}
            {% include 'blocks/breadcrumbdash.html' %}

            {% set models = models or [

            ] %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h4>Registered Models</h4>
                            <p class="text-muted">You can define you models in <code>/app/models</code> package in a
                                very simple and natural way. We are currently using <code>mongoDB</code> because of its
                                flexibility and performance, especially suitable for the projects in early stage. </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h4>Right</h4>
                            <p class="text-muted">Subtitle</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function action(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var con = window.confirm("action?");
            if (!con) {
                return false;
            }

            // Validation goes here.

            // Set doing to prevent duplicate clicks
            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");

            // Post
            $.post("action", {"r": Math.random()}, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                } else {
                    showError(result.message);
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, 'json');
        }
    </script>
{% endblock %}