{% extends 'layoutdash.html' %}

{% set title = model.name + 's' %}
{% set breadcrumb = {
    'title': title,
    'links': [
        {'url':'/', 'title':'Home'},
        {'url':'/dashboard/', 'title':'Dashboard'},
        {'url':'/crud/', 'title':'Models'},
        {'url':'/crud/list/'+model.name, 'title': title}
    ]
} %}

{% block title %}{{ title }}{% endblock %}

{% block left %}
    <section>
        <form>
        </form>
        <hr>
        <table class="table">
            <thead class="thead-light">
            <tr>
                {% for f in model.jschema.required %}
                    <th>{{ f }}</th>
                {% endfor %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for r in records %}
                <tr>
                    {% for f in model.jschema.required %}
                        <td>{{ r[f] }}</td>
                    {% endfor %}
                    <td>
                        <a href="/crud/form/{{ model.name }}/{{ r._id }}">Change</a>
                        <a href="javascript:;" onclick="deleteRecord($(this))" rid="{{ r._id }}">Delete</a>
                        {% if current_user.is_admin %}
                            <a class="text-danger"
                               href="/crud/raw/{{ model.name }}/{{ r._id }}">Raw</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'blocks/pagination.html' %}
    </section>
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted"></p>
        <ul class="list-unstyled">
            <li>1. Model's json schema is a subset of
                <a href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#schema-object"
                   target="_blank">Object Schema from OAS 3.0</a>.
                We use this json schema for form generation and api doc generation(with <a
                        href="https://swagger.io/tools/swagger-ui/" target="_blank">Swagger UI</a>).
            </li>
        </ul>
    </section>
{% endblock %}


{% block script %}
    <script type="text/javascript">
        function deleteRecord(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var con = window.confirm("Are you sure to delete this record?");
            if (!con) {
                return false;
            }
            btn.addClass("doing");
            $.post("/crud/delete/{{ model.name }}/" + btn.attr("rid"), {"r": Math.random()}, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                    btn.closest("tr").remove();
                } else {
                    showError(result.message)
                }
                btn.removeClass("doing");
            }, 'json');
        }
    </script>
{% endblock %}