""" blueprints package. """
{% set ns = namespace(all=[]) %}
{% for blueprint in blueprints %}
from .{{ blueprint.name }} import {{ blueprint.name_snake }}
{# public is already import at www.__init__.py #}
{% if blueprint.name != 'public'  %}
{% set ns.all = ns.all + [blueprint.name_snake] %}
{% endif %}
{% endfor %}

blueprints = [{{ ns.all|join(', ') }}]
