{% extends "layout.html" %}

{% block title %}{{ _('Blog') }}{% endblock %}

{% block main_inner %}
    <div class="container">
        <div id="posts" class="row">

            <!-- left start -->
            <div class="col-md-8">
                <div class="row">
                    {% for p in posts %}
                        <div class="col-md-12">
                            <div class="panel panel-default panel-border">
                                <div class="panel-heading">
                                    <h3><a href="{{ url_for('blog.post', post_id=p._id) }}">{{ p.title }}</a></h3>
                                    <p class="panel-sub-title font-13 text-muted">
                                        {% for t in p.tags %}
                                            #{{ _(t.name) }}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="panel-body">
                                    {{ p.body|striptags|truncate(300) }}
                                </div>
                                <div class="panel-footer">
                                    <span><i class="fa fa-clock-o"></i> {{ p.createTime|timesince }}</span>
                                    <span class="pull-right"><i
                                            class="fa fa-eye pl-10"></i> {{ p.viewTimes }}&nbsp;{{ _('views') }}</span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <h2>{{ _('No posts found!') }}</h2>
                        </div>
                    {% endfor %}
                </div>
                {% if pagination.pages > 0 %}
                    <div class="text-center">
                        <ul class="pagination" style="margin-bottom:20px;">
                            {% if pagination.has_prev %}
                                <li><a href="{{ page_base }}?p={{ pagination.page - 1 }}"><</a></li>
                            {% endif %}
                            {% for page in pagination.iter_pages() %}
                                {% if page %}
                                    {% if page != pagination.page %}
                                        <li><a href="{{ page_base }}?p={{ page }}">{{ page }}</a></li>
                                    {% else %}
                                        <li class="active">
                                            <a href="javascript:;">{{ page }}<span class="sr-only">(current)</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li><a href="javascript:;">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li><a href="{{ page_base }}?p={{ pagination.page + 1 }}">></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            <!-- left end -->

            <!-- sidebar start -->
            <div class="col-md-4">
                <div class="m-b-20">
                    <h3>{{ _('Tags') }}</h3>
                    <a href="/blog/index" class="btn btn-primary m-b-5">#{{ _('All') }}</a>
                    {% for t in tags %}
                        <a href="/blog/index?t={{ t._id }}"
                           class="btn btn-primary m-b-5">#{{ _(t.name) }}</a>
                    {% endfor %}
                </div>
                {% if current_user.is_admin %}
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 class="panel-title">{{ _('Admin') }}</h3></div>
                        <div class="panel-body">
                            <a href="/blog/post/new">{{ _('Add post') }}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- sidebar end -->

        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            //
        });
    </script>
{% endblock %}

