{% extends 'layout.html' %}


{% set title = post.title %}
{% set breadcrumb = {
    'title': title,
    'links': [
        {'url':'/', 'title': 'Home'},
        {'url':'/blog/', 'title': 'Blog'},
        {'url':'/blog/post/' + post._id|string, 'title': 'Post'}
    ]
} %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    {% include 'blocks/breadcrumb.html' %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-box">
                        <div class="card overflow-hidden mb-4">
                            <div class="blog-img">
                                <img src="{{ post.cover }}" alt="blog post with image"
                                     class="img-fluid mx-auto d-block">
                            </div>
                            <div class="blog-content pt-3 px-3 mx-3">
                                <h3 class="mt-0">{{ post.title }}</h3>
                                <ul class="list-inline post-meta mb-0">
                                    <li class="list-inline-item"><i class="remixicon-time-line align-middle"></i>
                                        {{ post.createTime|timesince }}
                                    </li>
                                    <li class="list-inline-item"><i class="remixicon-price-tag-3-line align-middle"></i>
                                        {% for t in post.tags %}
                                            <a href="/blog/?search.tids={{ t._id }}">{{ t.name }}</a>
                                        {% endfor %}
                                    <li class="list-inline-item"><i class="remixicon-discuss-line align-middle"></i>
                                        <a href="#comments">{{ post.comments|length }} Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="px-4">
                                <blockquote class="blockquote bg-light p-3 rounded mb-3">
                                    <div class="blockquote-icon">
                                        <i class="mdi mdi-format-quote-open display-4"></i>
                                    </div>
                                    <p class="text-dark">{{ post.abstract }}</p>
                                </blockquote>
                            </div>
                            <div class="px-4 pb-3">{{ post.body|safe }}</div>
                        </div>

                        {% if post.comments %}
                            <div class="card mb-4">
                                <div class="card-body p-4">
                                    <h4 class="mt-0">Comments</h4>
                                    <hr>
                                    <ul class="media-list mb-0 p-3">
                                        {% for c in post.comments %}
                                            <li class="media {{ 'mt-3' if not loop.first }}">
                                                <a href="javascript:;">
                                                    <img class="media-object avatar-md rounded-circle"
                                                         src="{{ c.uavatar }}" alt="img">
                                                </a>
                                                <div class="media-body ml-3">
                                                    <h5 class="mt-0 font-16">{{ c.uname }}</h5>
                                                    <p class="text-muted">{{ c.time|timesince }}</p>
                                                    <p class="text-muted">{{ c.content }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card">
                            <div class="card-body p-4">
                                <h5 class="font-18">Send Your Comment</h5>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-main">
                                            <div class="form-group">
                                                <label>Message</label>
                                                <textarea id="textarea-comment" rows="4" class="form-control"
                                                          placeholder="Your message..."></textarea>
                                            </div>
                                            <a href="javascript:;" class="btn btn-primary float-right"
                                               onclick="comment($(this))">Submit</a>
                                        </form> <!-- /form -->
                                    </div> <!-- end col -->
                                </div><!-- end row -->

                            </div>
                        </div>
                    </div>
                </div> <!-- /.left -->
                <div class="col-lg-4 blog-sidebar">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form id="search-form">
                                <div class="input-group">
                                    <input type="text" name="search.title__like" class="form-control border-right-0"
                                           placeholder="Search..." onkeydown="search($(this))"
                                           value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent">
                                            <i class="remixicon-search-line"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <h4 class="mt-0">Tags</h4>
                            <hr>
                            <div class="tagcloud">
                                {% for t in tags %}
                                    <a href="/blog/?search.tids={{ t._id }}">{{ t.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% if current_user.is_editor %}
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <h4 class="mt-0">Actions</h4>
                                <hr>
                                <a class="btn btn-primary btn-sm" href="/blog/post/form/{{ post._id }}">Edit</a>
                            </div>
                        </div>
                    {% endif %}
                </div> <!-- /.right -->
            </div>
        </div>
    </section>
{% endblock %}

{% block script %}
    <script>
        function search(btn) {
            if (event.key === 'Enter') {
                var val = btn.val().trim();
                if (val.length) {
                    location.href = "/blog/?" + $("#search-form").serialize();
                }
            }
        }

        function comment(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var msg = "Are you sure to send this comment?";
            var con = window.confirm(msg);
            if (!con) {
                return false;
            }
            var param = {content: $("#textarea-comment").val().trim()};
            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");
            var url = "/blog/post/comment/{{ post._id }}";
            $.post(url, param, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                    showInfo('Refreshing...');
                    setTimeout(function () {
                        location.reload(true);
                    }, 1000);
                } else {
                    showError(result.message);
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, "json");
        }
    </script>
{% endblock %}