{% extends "layout-dash-demo.html" %}
{% set title = '项目管理' %}
{% set breadcrumb = {
    'subtitle': 'Project',
    'title': title,
    'actions': [{'icon': 'plus', 'title': '新建项目', 'view': 'project-edit'}],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
<link href="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="row ">
    <div class="col-lg">
        {% include "seeds/DemoProject-query.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base() }}/assets/vendor/flatpickr/dist/l10n/zh.js"></script>
{% endblock %}
