{% extends "layout-dash.html" %}
{% set title = '项目编辑' %}
{% set breadcrumb = {
    'subtitle': 'Project',
    'title': title,
    'actions': [],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
<link href="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="row ">
    <div class="col-lg">
        {% include "seeds/DemoProject-form.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base() }}/assets/vendor/flatpickr/dist/l10n/zh.js"></script>
<script src="{{ base() }}/assets/vendor/autosize/dist/autosize.min.js"></script>
<script src="{{ base() }}/assets/vendor/select2/dist/js/select2.full.min.js"></script>
<script src="{{ base() }}/js/form.min.js?{{ version() }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        install_form();
    });
</script>
{% endblock %}
