{% extends "layout-dash.html" %}
{% set title = '用户设置' %}
{% set breadcrumb = {
    'subtitle': 'User',
    'title': title,
    'actions': [],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
        {% include "seeds/DemoUser-summary.html" %}
    </div>
    <div class="col-lg-8">
        {% include "seeds/DemoUser-form.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/autosize/dist/autosize.min.js"></script>
<script src="{{ base() }}/js/form.min.js?{{ version() }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        install_form();
    });
</script>
{% endblock %}
