{# display one feature using format: image,text #}
{% set block = blocks['feature-2'] or {
    'icon': 'TEMPLATE',
    'title': '项目模板',
    'subtitle': '可根据数据结构及其视图快速生成多个平台的种子项目',
    'image': '/static/assets/img/illustrations/design.png',
    'children': [
        {'title': '多平台', 'subtitle': '可以生成多个平台的项目，如网站、小程序、iOS和Android应用等'},
        {'title': '专业模板', 'subtitle': '生成符合最佳实践的项目组织结构以及规范代码'},
        {'title': '视图', 'subtitle': '定义数据结构的视图，以生成业务逻辑'}
    ]
} %}
<section class="py-7 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <span class="badge badge-soft-primary mb-4">
                    <span class="h5 text-uppercase">{{ block.icon }}</span>
                </span>
                <h1>{{ block.title }}</h1>
                <p class="lead text-gray-700 mb-7 mb-md-9">{{ block.subtitle|safe }}</p>
            </div>
        </div> <!-- /.row -->
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="mb-8 mb-md-0">
                    <img src="{{ block.image }}" alt="..."
                         class="screenshot img-fluid float-right mb-6 mb-md-0">
                </div>
            </div>
            <div class="col-12 col-md-6">
                {% for f in block.children %}
                <div class="d-flex ml-md-5">
                    <div class="mt-1"><a
                            class="btn btn-sm btn-rounded-circle btn-outline-primary">{{ loop.index }}</a></div>
                    <div class="ml-4">
                        <h3>{{ f.title }}</h3>
                        <p class="text-gray-700 mb-4">{{ f.subtitle }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>