{% set block = breadcrumb or {
    'title': 'Blank Page',
    'children': [
        {'url':'/', 'title': 'Home'},
        {'url':'/blank', 'title': 'Blank Page'}
    ]
} %}
<section class="page-header-box bg-primary py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h3 class="page-header-title text-white">{{ block.title }}</h3>
                    <ol class="breadcrumb mb-0">
                        {% for l in block.children %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active">{{ l.title }}</li>
                            {% else %}
                                <li class="breadcrumb-item">
                                    <a href="{{ l.url }}">{{ l.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>