{% set chart_data = chart_data or {
    'x': ['category-0', 'category-1', 'category-2'],
    'y': [100, 50, 10],
    'title': 'Total 160',
    'unit': '元',
    'half': false,
} %}
{% set chart_id = randstr() %}
<div class="chart chart-appended" style="{% if chart_data.height %}height:{{ chart_data.height }};{% endif %}">
    <canvas class="chart-canvas" data-toggle="legend" data-target="#chart-legend-{{ chart_id }}"
            id="chart-{{ chart_id }}">
    </canvas>
</div>
<div class="chart-legend mt-4" id="chart-legend-{{ chart_id }}"></div>
<script>
    {# 参考文档, https://www.chartjs.org/docs/2.9.4/charts/doughnut.html #}
    var DOUGHNUT_COLORS = ["#2c7be5", "#00d97e", "#EE6D85", "#f6c343", "#39afd1", "#6e84a3", "#edf2f9"];
    document.addEventListener("DOMContentLoaded", function () {
        new Chart('chart-{{ chart_id }}', {
            type: 'doughnut',
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    mode: "nearest",
                    intersect: true,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return "&nbsp;" + data.datasets[0].data[tooltipItem.index].toFixed() + "{{ chart_data.unit }}";
                        },
                    }
                },
                {% if chart_data.title %}
                elements: {
                    center: {
                        text: "{{ chart_data.title }}",
                        color: DOUGHNUT_COLORS[0],
                        maxFontSize: 24,
                        minFontSize: 18,
                    }
                },
                {% endif %}
                {% if chart_data.half %}
                circumference: Math.PI,
                rotation: -Math.PI
                {% endif %}
            },
            data: {
                labels: {{ chart_data.x|tojson }},
                datasets: [{
                    data: {{ chart_data.y|tojson }},
                    backgroundColor: DOUGHNUT_COLORS
                }]
            }
        });
    });
</script>
