{% extends "layout.html" %}

{% block title %}{{ _('Signup') }}{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <div class="wrapper-page">
        <div class="text-center">
            <a href="/" class="logo logo-lg">{{ _('Flask-Seed') }}</a>
        </div>
        <form class="form-horizontal m-t-20" action="/signup" method="post">
            {{ form.csrf_token }}
            {{ form.next_url }}
            <div class="form-group {{ 'has-error' if form.email.errors }}">
                <div class="col-xs-12">
                    {{ form.email(class='form-control', placeholder=_('Email')) }}
                    {% if form.email.errors %}
                        <p class="help-block">{{ form.email.errors[0] }}</p>
                    {% endif %}
                    <i class="fa fa-user form-control-feedback l-h-34"></i>
                </div>
            </div>
            <div class="form-group {{ 'has-error' if form.password.errors }}">
                <div class="col-xs-12">
                    {{ form.password(class='form-control', placeholder=_('Password')) }}
                    {% if form.password.errors %}
                        <p class="help-block">{{ form.password.errors[0] }}</p>
                    {% endif %}
                    <i class="fa fa-lock form-control-feedback l-h-34"></i>
                </div>
            </div>
            <div class="form-group {{ 'has-error' if form.repassword.errors }}">
                <div class="col-xs-12">
                    {{ form.repassword(class='form-control', placeholder=_('Password Confirm')) }}
                    {% if form.repassword.errors %}
                        <p class="help-block">{{ form.repassword.errors[0] }}</p>
                    {% endif %}
                    <i class="fa fa-lock form-control-feedback l-h-34"></i>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="checkbox checkbox-primary">
                        {{ form.agree(checked='checked') }}
                        <label for="checkbox-signup">
                            {{ _('I accept') }} <a href="javascript:coming();">{{ _('Terms and Conditions') }}</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-custom w-md" type="submit">{{ _('Signup') }}</button>
                </div>
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-12 text-center">
                    <a href="{{ url_for('public.login') }}" class="text-muted">{{ _('Already have account?') }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
    <script type="text/javascript">
        {% if error %}showError({{ error|tojson }});{% endif %}
    </script>
{% endblock %}