{# global var to control code generation #}
{% set render_controls = namespace(relations_needing_preload=[], relations_needing_search=[], formats_supporting_relation_search=['media', 'timeline', 'modal'], relations_needing_async_load=[], formats_supporting_relation_async_load=['calendar']) %}
{# macro - iterate layout to get needed relations and etc, param layout is rows, param schema is alway a object's schema #}
{% macro iterate_layout(rows, schema) %}
    {% for row in rows %}
        {% for column in row %}
            {# skip summary format, as summmary is only for displaying which do not impact any preloading/searching/asyncloading logic #}
            {% if column['format'] == 'summary' %}
                {# pass #}
            {% else %}
                {% set column_name = column['name'] %}
                {# blank column #}
                {% if not column_name %}
                    {# pass #}
                {# hyphen column #}
                {% elif column_name == '-' %}
                    {# pass #}
                {# group column #}
                {% elif column_name|float(-1) != -1 %}
                    {{- iterate_layout(column['rows'], schema) -}}
                {# normal column #}
                {% else %}
                    {% set column_schema = schema.properties[column_name] %}
                    {% set inner_schema = none %}
                    {% if column_schema.type == 'object' %}
                        {% set inner_schema = column_schema %}
                    {% elif column_schema.type == 'array' %}
                        {% set inner_schema = column_schema['items'] %}
                    {% endif %}
                    {# relation logic #}
                    {% if column_schema.is_relation %}
                        {# TODO: Support same related model with different layout #}
                        {% set related_model_name = inner_schema.py_type %}
                        {% set projection = parse_layout_fields(column['rows']) %}
                        {% if not projection %}
                            {% set projection = inner_schema['requires'] %}
                        {% endif %}
                        {# relations_needing_preload is used in action form when loading view #}
                        {% if related_model_name not in render_controls.relations_needing_preload %}
                            {% set render_controls.relations_needing_preload = render_controls.relations_needing_preload + [related_model_name] %}
                            {% set render_controls.relations_projection_needing_preload = projection %}
                        {% endif %}
                        {# relations_needing_search is used in action form when searching related models #}
                        {% if column_schema.format in render_controls.formats_supporting_relation_search and related_model_name not in render_controls.relations_needing_search %}
                            {% set render_controls.relations_needing_search = render_controls.relations_needing_search + [related_model_name] %}
                            {% set render_controls.relations_projection_needing_search = projection %}
                        {% endif %}
                        {# relations_needing_async_load is used in action read #}
                        {% if column_schema.format in render_controls.formats_supporting_relation_async_load and related_model_name not in render_controls.relations_needing_async_load %}
                            {% set render_controls.relations_needing_async_load = render_controls.relations_needing_async_load + [related_model_name] %}
                            {% set render_controls.relations_projection_needing_async_load = projection %}
                        {% endif %}
                    {# object/array/simple #}
                    {% else %}
                        {% if inner_schema %}
                            {{- iterate_layout(column['rows'], inner_schema) -}}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}
{% macro generate_permisson(blueprint_name) %}
{% if blueprint_name == 'admin' %}
@admin_permission
{% elif blueprint_name != 'public' %}
@auth_permission
{% endif %}
{% endmacro %}
""" {{ blueprint.name }} module. """
from datetime import datetime

from bson import ObjectId
from flask import Blueprint, render_template, current_app, redirect, request, abort, jsonify, url_for
from flask_login import current_user

from py3seed import populate_model, populate_search
from .common import get_id
from www.tools import auth_permission, admin_permission
from core.models import {{ blueprint.views|map(attribute='model')|map(attribute='name')|join(', ') }}

{{ blueprint.name_snake }} = Blueprint('{{ blueprint.name_snake }}', __name__)


{% for view in blueprint.views %}
{# core variables #}
{% set model = view.model %}
{% set schema = model.schema %}
{% set action = view.action %}
{% set layout = view.rows %}
{# reset and recalculate render controls #}
{% set render_controls.relations_needing_preload = [] %}
{% set render_controls.relations_needing_search = [] %}
{% set render_controls.relations_needing_async_load = [] %}
{{- iterate_layout(layout, schema) -}}
{# define view function #}
@{{ blueprint.name_snake }}.route('/{{ view.name }}')
{{ generate_permisson(blueprint.name) -}}
def {{ view.name_snake }}():
    """ {{ view.params.title }}. """
    {# read #}
    {% if action == 'read' %}
    id_ = get_id({{ schema.id_type }})
    {{ model.name_snake }} = {{ model.name }}.find_one(id_)
    if not {{ model.name_snake }}:
        abort(404)
    #
    return render_template('{{ blueprint.name_snake }}/{{ view.name }}.html', {{ model.name_snake }}={{ model.name_snake }})
    {# form #}
    {% elif action == 'form' %}
    id_ = get_id({{ schema.id_type }})
    args = []
    if id_:
        {{ model.name_snake }} = {{ model.name }}.find_one(id_)
        if not {{ model.name_snake }}:
            abort(404)
    else:
        {{ model.name_snake }} = {{ model.name }}()
        {% for field in schema.properties %}
        {% set field_schema = schema.properties[field] %}
        {# presetting values for out relation fields #}
        {# e.g, task.project -> project.tasks, project field is a out relation to project, and project owns a task means we have to create task under project, by passing project_id param #}
        {% if field_schema.is_out_relation and field_schema.ownership == 'own' %}
        #
        if '{{ field_schema.save_field_name }}' in request.args:
            {% if field_schema.type == 'array' %}
            {{ field_schema.save_field_name }} = list(map({{ field_schema['items'].id_type }}, request.args.getlist('{{ field_schema.save_field_name }}')))
            {{ model.name_snake }}.{{ field }} = {{ field_schema['items'].py_type }}.find_by_ids({{ field_schema.save_field_name }})
            args.extend([('{{ field_schema.save_field_name }}', i) for i in {{ field_schema.save_field_name }}])
            {% else %}
            {{ field_schema.save_field_name }} = {{ field_schema.id_type }}(request.args.get('{{ field_schema.save_field_name }}'))
            {{ model.name_snake }}.{{ field }} = {{ field_schema.py_type }}.find_one({{ field_schema.save_field_name }})
            args.append(('{{ field_schema.save_field_name }}', {{ field_schema.save_field_name }}))
            {% endif %}
        {% endif %}
        {% endfor %}
    #
    preloads = {}
    {% for relation in render_controls.relations_needing_preload %}
    {% set related_model = models[relation] %}
    {{ related_model.name_snake_plural }}, {{ related_model.name_snake_plural }}_pagination = {{ related_model.name }}.search({}, projection={{ render_controls.relations_projection_needing_preload }}, sort=[('create_time', -1)])
    current_app.logger.info(f'Preloaded {len({{ related_model.name_snake_plural }})} {{ related_model.name_title_lower_plural }}')
    preloads.update({'{{ related_model.name_snake_plural }}': {{ related_model.name_snake_plural }}, '{{ related_model.name_snake_plural }}_pagination': dict({{ related_model.name_snake_plural }}_pagination), })
    {% endfor %}
    #
    return render_template('{{ blueprint.name_snake }}/{{ view.name }}.html', {{ model.name_snake }}={{ model.name_snake }}, args=args, **preloads)
    {# query #}
    {% elif action == 'query' %}
    page, sort = request.args.get('p', 1, lambda x: int(x) if x.isdigit() else 1), [('create_time', -1)]
    search, condition = populate_search(request.args, {{ model.name }})
    current_app.logger.info(f'Try to search {{ model.name_title_lower }} by {condition}, sort by {sort}')
    {{ model.name_snake_plural }}, pagination = {{ model.name }}.search(condition, page, sort=sort)
    #
    return render_template('{{ blueprint.name_snake }}/{{ view.name }}.html',
                           search=search, pagination=pagination, {{ model.name_snake_plural }}={{ model.name_snake_plural }})
    {# unsupported action #}
    {% else %}
    # FIXME: UNSUPPORTED! action is {{ action }}
    return render_template('{{ blueprint.name_snake }}/{{ view.name }}.html')
    {% endif %}


{# define post function in read #}
{% if action == 'read' %}
{# define load relation function in read, i.e, loading events monthly in a calendar #}
{% for relation in render_controls.relations_needing_async_load %}
{% set related_model = models[relation] %}
@{{ blueprint.name_snake }}.route('/{{ view.name }}/load-{{ related_model.name_kebab_plural }}', methods=('POST',))
{{ generate_permisson(blueprint.name) -}}
def {{ view.name_snake }}_load_{{ related_model.name_snake_plural }}():
    """ 读取{{ related_model.schema.title }}. """
    page, sort = request.form.get('p', 1, lambda x: int(x) if x.isdigit() else 1), [('create_time', -1)]
    search, condition = populate_search(request.form, {{ related_model.name }})
    current_app.logger.info(f'Try to load {{ related_model.name_title_lower }} at page {page} by {condition}, sort by {sort}')
    {{ related_model.name_snake_plural }}, pagination = {{ related_model.name }}.search(condition, page, projection={{ render_controls.relations_projection_needing_async_load }}, sort=sort)
    return jsonify(error=0, message='Load {{ related_model.name_title_lower }} successfully.', pagination=dict(pagination), {{ related_model.name_snake_plural }}={{ related_model.name_snake_plural }})


{% endfor %}
{% endif %}
{# define post function in form #}
{% if action == 'form' %}
@{{ blueprint.name_snake }}.route('/{{ view.name }}-form', methods=('POST',))
{{ generate_permisson(blueprint.name) -}}
def {{ view.name_snake }}_form():
    """ 保存{{ view.params.title }}. """
    req_{{ model.name_snake }} = populate_model(request.form, {{ model.name }})
    id_ = get_id({{ schema.id_type }})
    current_app.logger.info(f'Try to save {{ model.name_title_lower }}: {{ '{' }}req_{{ model.name_snake }}{{ '}' }}')
    #
    if not id_:  # Create
        req_{{ model.name_snake }}.save()
        id_ = req_{{ model.name_snake }}.{{ schema.id_name }}
        current_app.logger.info(f'Successfully create {{ model.name_title_lower }}: {{ '{' }}id_{{ '}' }}')
    else:  # Update
        existing = {{ model.name }}.find_one(id_)
        if not existing:
            abort(404)
        #
        {% for field in parse_layout_fields(layout) %}
        existing.{{ field }} = req_{{ model.name_snake }}.{{ field }}
        {% endfor %}
        #
        existing.update_time = datetime.now()
        existing.save()
        current_app.logger.info(f'Successfully update {{ model.name_title_lower }} {{ '{' }}id_{{ '}' }}')
    #
    return jsonify(error=0, message='Save {{ model.name_title_lower }} successfully.', id=id_)


{# define search relation function in form #}
{% for relation in render_controls.relations_needing_search %}
{% set related_model = models[relation] %}
@{{ blueprint.name_snake }}.route('/{{ view.name }}/search-{{ related_model.name_kebab_plural }}', methods=('POST',))
{{ generate_permisson(blueprint.name) -}}
def {{ view.name_snake }}_search_{{ related_model.name_snake_plural }}():
    """ 查找{{ related_model.schema.title }}. """
    page, sort = request.form.get('p', 1, lambda x: int(x) if x.isdigit() else 1), [('create_time', -1)]
    search, condition = populate_search(request.form, {{ related_model.name }})
    current_app.logger.info(f'Try to search {{ related_model.name_title_lower }} at page {page} by {condition}, sort by {sort}')
    {{ related_model.name_snake_plural }}, pagination = {{ related_model.name }}.search(condition, page, projection={{ render_controls.relations_projection_needing_search }}, sort=sort)
    return jsonify(error=0, message='Search {{ related_model.name_title_lower }} successfully.', pagination=dict(pagination), {{ related_model.name_snake_plural }}={{ related_model.name_snake_plural }})


{% endfor %}
{% endif %}
{# /.blueprint.views #}
{% endfor %}