{% set block = {
    'title': 'flask-seed',
    'subtitle': '数据结构+项目模板=种子项目',
    'link': {
        'title': '免费试用',
        'url': '/dashboard'
    },
    'copyright': '2022 © flask-seed.com'
} %}
<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-6">
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-4 mb-sm-0">
                            <div>
                                <h3 class="text-white mb-3">{{ block.title }}</h3>
                                <p class="text-white-50 mo-mb-20 mb-0">{{ block.subtitle }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="text-md-right">
                                <a href="{{ block.link.url }}" class="btn btn-white">{{ block.link.title|safe }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-0" style="border-top:1px solid rgba(255, 255, 255, 0.1);">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-3">
                    <div class="text-center">
                        <p class="text-white-50">{{ block.copyright }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>