{% set block = {
    'logo': base() + '/img/logo-sm.png',
    'langs': [
        {'url':'javascript:coming()', 'title':'English'},
        {'url':'javascript:coming()', 'title':'中文'}
    ],
    'actions': [
        {'icon':'fe fe-user', 'title':'账号设置', 'url':'/dashboard/profile'},
        {'icon':'fe fe-dollar-sign', 'title':'费用', 'url':'/pay/orders'},
        {'title':''},
        {'icon':'fe fe-log-out', 'title':'退出', 'url':'/logout'}
    ]
} %}
<nav class="navbar navbar-expand-md navbar-light d-none d-md-flex" id="topbar">
    <div class="container-fluid">
        <form class="form-inline mr-4 d-none d-md-flex">
            <div class="form-group">
                <label>&nbsp;</label>
            </div>
        </form> <!-- /.form -->
        <div class="navbar-user">
            <li class="nav-item d-none d-md-flex">
                <a class="nav-link text-gray-700" href="javascript:coming();"><i class="fe fe-help-circle"></i></a>
            </li>
            <div class="dropdown mr-4 d-none d-md-flex">
                <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false"><span class="icon active"><i class="fe fe-bell"></i></span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
                    <div class="card-header">
                        <h5 class="card-header-title">通知</h5>
                        <a href="javascript:coming();" class="small">查看全部</a>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-light mb-0">您暂无消息.</div>
                    </div>
                </div>
            </div> <!-- /messages dropdown  -->
            <div class="dropdown">
                <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% if current_user.avatar %}
                        <img src="{{ current_user.avatar }}" alt="..." class="avatar-img rounded-circle">
                    {% else %}
                        <span class="avatar-title rounded-circle bg-primary">{{ current_user.name|first|upper }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">Hi, {{ current_user.name|capitalize }}</h6>
                    {% for l in block.actions %}
                        {% if l.title %}
                            <a href="{{ l.url }}" class="dropdown-item">
                                <i class="{{ l.icon }} mr-3"></i>{{ l.title }}
                            </a>
                        {% else %}
                            <div class="dropdown-divider"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> <!-- /user dropdown -->
        </div>
    </div>
</nav>
<script type="text/javascript">
</script>
