{% extends "layout-shop.html" %}
{% set title = '商城' %}
{% set breadcrumb = {
    'subtitle': '',
    'title': title,
    'actions': [],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
<link href="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-header-boxed-shop.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-welcome-boxed-shop.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-products-asymmetric-shop.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-banner-boxed-shop.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-categories-asymmetric-shop.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-footer-shop.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.umd.js"></script>
{% endblock %}
