{% extends "layout-shop.html" %}
{% set title = '商城' %}
{% set breadcrumb = {
    'subtitle': '',
    'title': title,
    'actions': [],
    'tabs': [],
} %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
<link href="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-topnav.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-welcome.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-categories.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-products-grid.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-banner.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-reviews-carousel.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-social.html" %}
    </div>
</div>
<div class="row no-gutters">
    <div class="col-lg">
        {% include "seeds/Block-read-shop-footer.html" %}
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ base() }}/assets/vendor/@fancyapps/ui/dist/fancybox.umd.js"></script>
{% endblock %}
