{% if not is_in_card %}
<div class="card"><div class="card-body">
{% endif %}
{# a summary can be display in modal or card #}
{% if field_schema.type == 'object' %}
{% set fields = (field_layout or field_schema)|fields %}
{% set first_field_name = fields[0] %}
{% set first_field = field_schema.properties[first_field_name] %}
{% set first_field_rendered = False %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% set target = generate_url(field_schema.py_type, field_path, 'read') %}
{# 头图 #}
{% if first_field.format in ['image'] %}
<a href="{{ target }}">
    <img src="{{ '{{' }} {{ field_path }}.{{ first_field_name }} {{ '}}' }}" class="card-img-top" alt="...">
</a>
{% set first_field_rendered = True %}
{# 头像 #}
{% elif first_field.format in ['avatar'] %}
<div class="row text-center">
    <div class="col">
        <div name="{{ first_field_name }}" format="avatar">
            <a href="{{ target }}" class="avatar avatar-xl mt-2 mb-4">
                <img src="{{ '{{' }} {{ field_path~'.'~first_field_name }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded-circle {{ '{{' }} 'd-none' if not {{ field_path~'.'~first_field_name }} {{ '}}' }}">
                <span fallback={{ title_field_name }} class="avatar-title rounded-circle bg-primary {{ '{{' }} 'd-none' if {{ field_path~'.'~first_field_name }} {{ '}}' }}">{{ '{{' }} {{ field_path~'.'~title_field_name }}|first|upper if {{ field_path~'.'~title_field_name }} is not none {{ '}}' }}</span>
            </a>
        </div>
        <div class="mb-4">
            <span class="h3 text-primary" name="{{ title_field_name }}" foramt="text">{{ '{{' }} {{ field_path }}.{{ title_field_name }} or '-' {{ '}}' }}</span>
        </div>
    </div>
</div>
{% set first_field_rendered = True %}
{# 文本 #}
{% elif first_field.format in ['text'] %}
<div class="row text-center ">
    <div class="col">
        <div name="{{ first_field_name }}" format="text">
            <a href="{{ target }}" class="avatar avatar-xl mt-2 mb-4">
                <span class="avatar-title rounded bg-primary">{{ '{{' }} {{ field_path }}.{{ first_field_name }}|first|upper if {{ field_path }}.{{ first_field_name }} is not none {{ '}}' }}</span>
            </a>
        </div>
        <div class="mb-4">
            <span class="h3 text-primary" name="{{ title_field_name }}" foramt="text">{{ '{{' }} {{ field_path }}.{{ first_field_name }} or '-' {{ '}}' }}</span>
        </div>
    </div>
</div>
{% set first_field_rendered = True %}
{# 数字 #}
{% elif first_field.format in ['int', 'float'] %}
<div class="row align-items-center text-center">
    <div class="col">
        <div class="text-muted mb-2">{{ first_field.title }}{{ '('~first_field.unit~')' if first_field.unit }}</div>
        <div>
            <span class="h2 text-primary" name="{{ first_field_name }}" format="{{ first_field.format }}">{{ '{{' }} {{ field_path }}.{{ first_field_name }}|int|commas if {{ field_path }}.{{ first_field_name }} is not none else '-' {{ '}}' }}</span>
        </div>
    </div>
</div>
{% set first_field_rendered = True %}
{% endif %}
{# 其他字段简单罗列 #}
<div class="list-group list-group-flush border-top">
    {% set excludes = [first_field_name] if first_field_rendered else [] %}
    {{ display_list_group_items(field_schema, field_path, excludes)|indent(4) }}
</div>
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}
{% if not is_in_card %}
</div></div>
{% endif %}