{% macro render_file(hiddens) %}
            <div class="file uploaded d-flex justify-content-start align-items-center">
                <div class="mr-3">{{ caller('name') }}</div>
                <div><a class="mr-2" href="{{ caller('url') }}" target="_blank">i</a><a href="javascript:;" onclick="$(this).closest('.file').remove();">x</a></div>
                {% for k in hiddens %}
                <input type="hidden" name="{{ k }}" value="{{ caller(k) }}">
                {% endfor %}
            </div>
{% endmacro %}
<div class="form-group {{ field_schema.type }} {{ 'row' if view_is_horizontal }}" name="{{ field_name }}">
    <label class="{{ 'col-auto col-form-label' if view_is_horizontal }}">{{ '<span class="text-danger mr-1">*</span>' if field_schema.required }}{{ field_schema.title }}</label>
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    {# array of string/object #}
    {% if field_schema.type == 'array' %}
        {% set hiddens = field_schema['items'].properties|keys if field_schema['items'].type == 'object' else ['url'] %}
    {# object #}
    {% elif field_schema.type == 'object' %}
        {% set hiddens = field_schema.properties|keys %}
    {# string #}
    {% elif field_schema.type == 'string' %}
        {% set hiddens = ['url'] %}
    {% endif %}
    <div class="plupload-input-group file-input-group" {{ 'required' if field_schema.required }}>
        <a class="btn btn-outline-primary plupload" href="javascript:;" {{ 'multiple' if field_schema.type == 'array' }}
           data-token="{{ '{{ upload_config.token }}' }}"
           data-upload="{{ '{{ upload_config.endpoint }}' }}"
           data-max="{{ '{{ upload_config.max }}' }}"
           data-preview=''
           data-filters='{"mime_types":"{{ '{{' }} upload_config.mimes|join(", ") {{ '}}' }}"}'
           data-hiddens="{{ hiddens|join(',') }}">选择文件...</a>
        <small class="mt-2 form-text text-muted">{{ '可上传多个文件；' if field_schema.type == 'array' }}支持的文件格式有 {{ '{{' }} upload_config.mimes|join(', ') {{ '}}' }}</small>
        <div class="plupload-input-result file-input-result mt-1 clearfix">
        {% if field_schema.type == 'array' %}
        {% if field_schema['items'].type == 'object' %}
            {{ '{%' }} for e in {{ field_path }} {{ '%}' }}
            {% call(k) render_file(hiddens) %}{{ '{{' }} e['{{ k }}'] or '' {{ '}}' }}{% endcall %}
            {{ '{%' }} endfor {{ '%}' }}
        {% else %}
            {{ '{%' }} for e in {{ field_path }} {{ '%}' }}
            {{ '{%' }} set file_obj = {'url': e } {{ '%}' }}
            {% call(k) render_file(hiddens) %}{{ '{{' }} file_obj['{{ k }}'] {{ '}}' }}{% endcall %}
            {{ '{%' }} endfor {{ '%}' }}
        {% endif %}
        {% else %}
        {% if field_schema.type == 'object' %}
            {{ '{%' }} if {{ field_path }}.url {{ '%}' }}
            {% call(k) render_file(hiddens) %}{{ '{{' }} {{ field_path }}['{{ k }}'] {{ '}}' }}{% endcall %}
            {{ '{%' }} endif {{ '%}' }}
        {% else %}
            {{ '{%' }} if {{ field_path }} {{ '%}' }}
            {{ '{%' }} set file_obj = {'url': {{ field_path }} } {{ '%}' }}
            {% call(k) render_file(hiddens) %}{{ '{{' }} file_obj['{{ k }}'] {{ '}}' }}{% endcall %}
            {{ '{%' }} endif {{ '%}' }}
        {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="invalid-feedback">请上传{{ field_schema.title }}!</div>
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
