<div class="form-group {{ 'row' if view_is_horizontal }}" name="{{ field_name }}">
    <label class="{{ 'col-auto col-form-label' if view_is_horizontal }}">{{ '<span class="text-danger mr-1">*</span>' if field_schema.required }}{{ field_schema.title }}</label>
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    <textarea name="{{ field_name }}" rows="5"
              class="form-control autosize" {{ 'required' if field_schema.required }}>{{ '{{' }} {{ field_path }} or '' {{ '}}' }}</textarea>
    {% if field_schema.description %}
    <small class="mt-2 form-text text-muted">{{ field_schema.description }}</small>
    {% endif %}
    <div class="invalid-feedback">请输入正确的{{ field_schema.title }}!</div>
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
