{% if not is_in_card %}
<div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div><div class="card-body">
{% endif %}
{% if field_schema.type == 'array' %}
{% set item_schema = field_schema['items'] %}
{# First field should be a meaningful subject, i.e, user name or event type and etc. #}
{% set fields = field_layout|fields or item_schema['columns'] %}
{% set first_field_name = fields[0] %}
{% set first_field_schema = item_schema.properties[first_field_name] %}
{% if first_field_schema.type == 'object' %}
    {% set object_field_name = first_field_schema|field('name|\\w*name') %}
    {% set first_field_name = first_field_name~'.'~object_field_name %}
    {% set first_field_schema = first_field_schema.properties[object_field_name] %}
{% endif %}
{% set title_field_name = fields|match('title') %}
{% set content_field_name = fields|match('content|text') %}
{% set time_field_name = fields|match('update_time|create_time|\\w*time') %}
<ul class="array-items list-group list-group-flush list-group-activity">
    {{ '{%' }} for {{ field_name }}_item in {{ field_path }} + [new_model('{{ item_schema.py_type }}')] {{ '%}' }}
    <li class="array-item list-group-item {{ '{{' }} 'template' if loop.last {{ '}}' }}" name="-">
        <div class="row align-items-center">
            <div class="col-auto" name="{{ first_field_name }}" format="{{ first_field_schema.format }}">
                <a href="javascript:;" class="avatar avatar-sm">
                    <span class="avatar-title bg-primary-soft rounded-circle text-primary">{{ '{{' }} {{ field_name }}_item.{{ first_field_name }}|first|upper if {{ field_name }}_item.{{ first_field_name }} is not none {{ '}}' }}</span>
                </a>
            </div>
            <div class="col ml-n2">
                <p name="{{ title_field_name }}" format="{{ item_schema.properties[title_field_name].format }}" class="mb-1">{{ '{{' }} {{ field_name }}_item.{{ title_field_name }}|safe if {{ field_name }}_item.{{ title_field_name }} is not none {{ '}}' }}</p>
                {% if content_field_name %}
                <p name="{{ content_field_name }}" format="{{ item_schema.properties[content_field_name].format }}" class="small text-gray-700 mb-1">{{ '{{' }} {{ field_name }}_item.{{ content_field_name }} or '' {{ '}}' }}</p>
                {% endif %}
                <p class="small text-muted mb-0"><i class="fe fe-clock mr-2"></i>{{ '{{' }} {{ field_name }}_item.{{ time_field_name }}|timesince if {{ field_name }}_item.{{ time_field_name }} is not none {{ '}}' }}</p>
            </div>
            <div class="col-auto">
                <a class="btn pl-0 py-0" onclick="array_action_show_modal($(this));"><i class="fe fe-eye"></i></a>
                <a class="btn pl-0 py-0" onclick="array_action_delete_modal($(this));" data-title="{{ item_schema.title }}"><i class="fe fe-delete"></i></a>
            </div>
        </div>
    </li>
    {{ '{%' }} endfor {{ '%}' }}
    <li class="array-item list-group-item pb-0" style="{{ '{{' }} 'display:none' if {{ field_path }} {{ '}}' }}">
        <div class="row align-items-center">
            <div class="col"><div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>没有{{ item_schema.title }}！</div></div>
        </div>
    </li>
</ul>
<div class="modals">
    {{ '{%' }} for {{ field_name }}_item in {{ field_path }} + [new_model('{{ item_schema.py_type }}')] {{ '%}' }}
    <div class="modal fade {{ '{{' }} 'template' if loop.last {{ '}}' }}" name="-" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% if item_schema.icon %}<i class="fe fe-{{ item_schema.icon }} mr-2"></i>{% endif %}{{ item_schema.title }}详情</h5>
                    <button type="button" class="close" aria-label="Close" onclick="array_action_cancel_modal($(this));">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                {% if field_schema.is_out_relation %}
                    {# create a fieldset to submit related models' id #}
                    <fieldset class="object d-none" name="-">
                        <div class="form-group" name="{{ item_schema.id_name }}">
                            <input name="{{ item_schema.id_name }}" type="text" value="{{ '{{' }} {{ field_name }}_item.{{ item_schema.id_name }} or '' {{ '}}' }}">
                        </div>
                    </fieldset>
                    {% filter right(20) %}{{ display_summary('-', field_name+'_item', item_schema, none, true) }}{% endfilter %}
                {% else %}
                    <fieldset class="object" name="-">
                        {# modal is card-like, so is_in_card is true #}
                        {% filter right(24) %}{{ render_layout('-', field_name+'_item', item_schema, field_layout, true) }}{% endfilter %}
                    </fieldset>
                {% endif %}
                </div>
                <div class="modal-footer py-3">
                    <button type="button" class="btn btn-light" onclick="array_action_cancel_modal($(this));">关闭</button>
                    {% if not field_schema.is_out_relation %}
                    <button type="button" class="btn btn-primary" onclick="array_action_save_modal($(this));">确定</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ '{%' }} endfor {{ '%}' }}
</div>
<div class="array-actions mt-4">
    {% if field_schema.is_out_relation %}
    {% set related_model_name = field_schema['items']['py_type'] if field_schema.type == 'array' else field_schema['py_type'] %}
    {% set related_model = models[related_model_name] %}
    <a class="btn btn-outline-primary mr-2" relation-key="{{ related_model.name_kebab_plural }}" relation-return="{{ 'many' if field_schema.type == 'array' else 'one' }}" onclick="relation_action_show_search_modal($(this));" data-title="{{ item_schema.title }}"><i class="fe fe-search mr-1"></i>添加{{ item_schema.title }}...</a>
    {% else %}
    <a class="btn btn-outline-primary mr-2" onclick="array_action_add_modal($(this));"><i class="fe fe-plus mr-1"></i>添加{{ item_schema.title }}...</a>
    {% endif %}
</div>
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}
{% if not is_in_card %}
</div></div>
{% endif %}