{% set block = load_block('welcome-shop') %}
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9 d-none d-md-block offset-md-n2 order-2">
                <div class="h-100 flickity-buttons-bottom-left"
                     data-flickity='{"prevNextButtons":true, "fade":true, "pageDots":false, "wrapAround":true, "initialIndex":0, "imagesLoaded":true, "cellAlign":"left"}'>
                    <div class="w-100 h-100 bg-cover"
                         style="background-image: url(/static/assets/img/covers/cover-26.jpg);"></div>
                    <div class="w-100 h-100 bg-cover"
                         style="background-image: url(/static/assets/img/covers/cover-27.jpg);"></div>
                    <div class="w-100 h-100 bg-cover"
                         style="background-image: url(/static/assets/img/covers/cover-28.jpg);"></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 py-7 order-1">
                <h1 class="display-1 mb-5">
                    2019 Summer Collection
                </h1>
                <a class="btn btn-dark" href="shop.html">
                    Shop Now <i class="fe fe-arrow-right ml-2"></i>
                </a>
            </div>
        </div>
    </div>
</section>