{% set block = load_block('shop-horizontal-topnav') %}
<nav class="navbar navbar-expand navbar-light border-0 pt-0 pt-lg-4 pb-4">
    <div class="container-fluid">
        <form class="navbar-form w-100" style="max-width: 550px;">
            <div class="input-group">
                <input class="form-control form-control-underline border-dark" type="search"
                       placeholder="{{ block.remarks or '' }}">
                <div class="input-group-append">
                    <div class="input-group-text input-group-underline border-dark">
                        <i class="fe fe-search"></i>
                    </div>
                </div>
            </div>
        </form>
        <ul class="navbar-nav flex-row">
        {% for l in block.children %}
            {% if l.children %}
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="{{ l.url }}" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {{ l.title|safe }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                    {% for sl in l.children %}
                    {% if sl.title %}
                        <a class="dropdown-item" href="{{ sl.url }}">{{ sl.title }}</a>
                    {% else %}
                        <div class="dropdown-divider"></div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ l.url }}">{{ l.title|safe }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>
