{# display one feature using format: text,image #}
{% set block = load_block('feature-1') %}
<section class="py-7">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <span class="badge badge-soft-primary mb-4">
                    <span class="h5 text-uppercase">{{ block.icon }}</span>
                </span>
                <h2>{{ block.title }}</h2>
                <p class="font-size-lg text-gray-700 mb-4">{{ block.subtitle }}</p>
                <div class="row">
                    {% for f in block.children %}
                    <div class="col-12">
                        <div class="d-flex">
                            <p class="text-muted"><i class="fe fe-check mr-2"></i>{{ f.title }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- / .row -->
            </div>
            <div class="col-12 col-md-6">
                <img src="{{ block.image }}" alt="..." class="img-fluid">
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>