{% set block = blocks['shop-welcome-summer-sales'] or {
        'title': '2023 Summer Collection',
        'images': [
            '/static/assets/img/covers/cover-26.jpg',
            '/static/assets/img/covers/cover-27.jpg',
            '/static/assets/img/covers/cover-28.jpg',
        ],
        'action': {'title': 'Shop Now <i class="fe fe-arrow-right ml-2"></i>', 'cls': 'dark', 'url': 'javascript:coming();'},
    } %}
<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9 d-none d-md-block offset-md-n2 order-2">
                <div class="h-100 flickity-buttons-bottom-left"
                     data-flickity='{"prevNextButtons":true, "fade":true, "pageDots":false, "wrapAround":true, "initialIndex":0, "imagesLoaded":true, "cellAlign":"left"}'>
                    {% for i in block.images %}
                    <div class="w-100 h-100 bg-cover"
                         style="background-image: url({{ i }});"></div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 py-7 order-1">
                <h1 class="display-1 mb-5">{{ block.title }}</h1>
                {% if block.action %}
                <a class="btn btn-{{ block.action.cls }} rounded-0" href="{{ block.action.url }}">
                    {{ block.action.title|safe }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>