{% set block = blocks['shop-products-best-sellers'] or {
        'tag': 'Monthly Top Sellings',
        'title': 'Best Sellers',
        'children': [
            {
                'title': 'Leather mid-heel Sandals', 'subtitle': 'Shoes', 'content': '$129.00',
                'images': ['/static/assets/img/products/product-120.jpg', '/static/assets/img/products/product-5.jpg']
            },
            {
                'title': 'Cotton floral print Dress', 'subtitle': 'Dresses', 'content': '$40.00',
                'images': ['/static/assets/img/products/product-121.jpg', '/static/assets/img/products/product-6.jpg']
            },
            {
                'tag': 'HOT', 'title': 'Leather Sneakers', 'subtitle': 'Shoes', 'content': '<span class="text-decoration-line-through">$85.00</span><span class="ml-2 text-danger">$50.00</span>',
                'images': ['/static/assets/img/products/product-122.jpg', '/static/assets/img/products/product-7.jpg']
            },
            {
                'title': 'Cropped cotton Top', 'subtitle': 'Tops', 'content': '$29.00',
                'images': ['/static/assets/img/products/product-8.jpg']
            },
            {
                'title': 'Floral print midi Dress', 'subtitle': 'Dresses', 'content': '$55.00',
                'images': ['/static/assets/img/products/product-9.jpg']
            },
            {
                'tag': 'HOT', 'title': 'Suede cross body Bag', 'subtitle': 'Bags', 'content': '<span class="text-decoration-line-through">$79.00</span><span class="ml-2 text-danger">$49.00</span>',
                'images': ['/static/assets/img/products/product-123.jpg', '/static/assets/img/products/product-10.jpg']
            },
            {
                'title': 'Printed A-line Skirt', 'subtitle': 'Skirts', 'content': '$79.00',
                'images': ['/static/assets/img/products/product-124.jpg', '/static/assets/img/products/product-11.jpg']
            },
            {
                'tag': 'HOT', 'title': 'Heel strappy Sandals', 'subtitle': 'Shoes', 'content': '$90.00',
                'images': ['/static/assets/img/products/product-12.jpg']
            },
        ],
    } %}
<section class="py-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                {% if block.tag %}<h4 class="mb-3 text-center text-gray-500">{{ block.tag }}</h4>{% endif %}
                <h1 class="mb-6 text-center">{{ block.title }}</h1>
            </div>
        </div>
        <div class="row">
            {% for c in block.children %}
            <div class="col-6 col-md-4 col-lg-3">
                <div class="card border-0 shadow-none bg-transparent">
                    {% if c.tag %}
                    <div class="badge badge-dark card-badge card-badge-left text-uppercase">{{ c.tag|safe }}</div>
                    {% endif %}
                    <div class="card-img">
                        {% if c.images|length >= 2 %}
                        <a class="card-img-hover" href="">
                            <img class="card-img-top card-img-back" src="{{ c.images[1] }}" alt="...">
                            <img class="card-img-top card-img-front" src="{{ c.images[0] }}" alt="...">
                        </a>
                        {% else %}
                        <a class="" href="">
                            <img class="card-img-top card-img-front" src="{{ c.images[0] }}" alt="...">
                        </a>
                        {% endif %}
                    </div>
                    <div class="card-body px-0">
                        <div class="font-size-xs"><a class="text-muted" href="#">{{ c.subtitle }}</a></div>
                        <div class="font-weight-bold"><a class="text-body" href="#">{{ c.title|safe }}</a></div>
                        <div class="font-weight-bold text-muted">{{ c.content|safe }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>