{% set block = load_block('social-shop') %}
<section class="py-7 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                {% if block.tag %}<h4 class="mb-3 text-center text-gray-500">{{ block.tag }}</h4>{% endif %}
                <h1 class="mb-0 text-center">{{ block.title }}</h1>
                {% if block.subtitle %}<p class="mt-3 mb-0 font-size-lg text-center">{{ block.subtitle }}</p>{% endif %}
            </div>
        </div>
        <div class="row mt-6">
            {% for c in block.children %}
            <div class="col-6 col-sm-4 col-md px-1">
                <div class="card mb-2">
                    <img src="{{ c.image }}" alt="..." class="card-img">
                    <a class="card-img-overlay card-img-overlay-hover align-items-center"
                       style="background-color:rgba(31,31,31,.4);"
                       href="#">
                        <p class="my-0 font-size-xxs text-center text-white">
                            {{ c.content|safe }}
                        </p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>