{% set block = blocks['shop-products-new-arrivals'] or {
        'tag': 'Summer new products',
        'title': 'New Arrivals',
        'children': [
            {
                'title': 'Cotton floral print Dress', 'content': '$40.00',
                'image': '/static/assets/img/products/product-6.jpg',
            },
            {
                'tag': 'NEW', 'title': 'Suede cross body Bag', 'content': '<span class="text-decoration-line-through">$85.00</span><span class="ml-2 text-danger">$50.00</span>',
                'image': '/static/assets/img/products/product-10.jpg',
            },
            {
                'title': 'Cotton leaf print Shirt', 'content': '$65.00',
                'image': '/static/assets/img/products/product-32.jpg',
            },
            {
                'title': 'Leather Sneakers', 'content': '$50.00',
                'image': '/static/assets/img/products/product-7.jpg',
            },
            {
                'title': 'Another fine dress', 'content': '$99.00',
                'image': '/static/assets/img/products/product-11.jpg',
            },
            {
                'title': 'Baseball Cap', 'content': '$10.00',
                'image': '/static/assets/img/products/product-33.jpg',
            },
            {
                'title': 'Leather sneakers', 'content': '$19.00',
                'image': '/static/assets/img/products/product-49.jpg',
            },
        ],
    } %}
<section class="py-7">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-6">
                {% if block.tag %}<h4 class="mb-3 text-center text-gray-500">{{ block.tag }}</h4>{% endif %}
                <h1 class="mb-6 text-center">{{ block.title }}</h1>
            </div>
        </div>
    </div>
    <div class="flickity-page-dots-progress"
         data-flickity='{"prevNextButtons":false, "pageDots":true, "wrapAround":true, "initialIndex":0, "imagesLoaded":true, "cellAlign":"left"}'>
        {% for c in block.children %}
        <div class="col" style="max-width: 300px;">
            <div class="card border-0 shadow-none bg-transparent">
                <div class="card-img">
                    {% if c.tag %}
                    <span class="badge badge-dark card-badge card-badge-left text-uppercase">{{ c.tag|safe }}</span>
                    {% endif %}
                    <img class="card-img-top" src="{{ c.image }}" alt="...">
                </div>
                <div class="card-body font-weight-bold text-center">
                    <a class="text-body" href="#">{{ c.title|safe }}</a> <br>
                    <div class="font-weight-bold text-muted">{{ c.content|safe }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>