{% set block = load_block('banner-discount-shop') %}
<section>
    <div class="container bg-cover" style="background-image: url({{ block.image }});">
        <div class="row py-7 bg-dark-10">
            <div class="col-12 text-center text-white">
                <h2>{{ block.subtitle }}</h2>
                <h2 class="display-1 text-uppercase">{{ block.title }}</h2>
                {% for a in block.actions %}
                <a class="link-underline text-reset mx-4 my-4" href="{{ a.url }}">{{ a.title|safe }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>