{% set block = load_block('shop-footer') %}
<footer class="p-5 bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="mb-7 mb-xl-0 text-white">{{ block.title }}</h1>
            </div>
            <div class="col-auto">
                <ul class="list-inline mb-0">
                    {% for c in block.children %}
                        <li class="list-inline-item px-3">
                            <a class="text-gray-300" href="{{ c.url }}">{{ c.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
