{% set block = load_block('shop-welcome') %}
<section>
    <div data-flickity='{"prevNextButtons":true, "fade":true, "pageDots":false, "wrapAround":true, "initialIndex":0, "imagesLoaded":true, "cellAlign":"left"}'>
        {% for c in block.children %}
        <div class="w-100 bg-cover" style="background-image: url({{ c.image }});">
            <div class="container d-flex flex-column">
                <div class="row align-items-center" style="min-height: 550px;">
                    <div class="{{ c.cls }}">
                        <h1>{{ c.title|safe }}</h1>
                        {% if c.subtitle %}
                        <h2 class="display-1 text-danger">{{ c.subtitle|safe }}</h2>
                        {% endif %}
                        {% if c.content %}
                        <p class="font-size-lg mb-5">{{ c.content|safe }}</p>
                        {% endif %}
                        {% if c.action %}
                        <a class="btn btn-{{ c.action.cls }} rounded-0" href="{{ c.action.url }}">{{ c.action.title|safe }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>