<div id="div-demo-task-form">
    <form id="demo-task-form" class="form-editor needs-validation" novalidate method="post">
        <div class="card"><div class="card-header"><h4 class="card-header-title"><i class="fe fe-check-square mr-2"></i>任务</h4></div><div class="card-body">
        <fieldset class="object" name="demo_task" format="">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group " name="title">
                        <label class=""><span class="text-danger mr-1">*</span>任务标题</label>
                        <input name="title" type="text" class="form-control" required
                               value="{{ demo_task.title or '' }}">
                        <div class="invalid-feedback">请输入正确的任务标题!</div>
                    </div>
                    <!-- /.text -->
                    <!-- /.string -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group string " name="status">
                        <label class=""><span class="text-danger mr-1">*</span>任务状态</label>
                        <select class="custom-select select2" name="status" required>
                            <option value="">请选择...</option>
                            {% for value, label in enum_titles('DemoTaskStatus')|items %}
                            <option value="{{ value }}" {{ 'selected' if value==demo_task.status }}>{{ label }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">请选择任务状态!</div>
                    </div>
                    <!-- /.select -->
                    <!-- /.string -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group " name="content">
                        <label class="">任务详情</label>
                        <textarea name="content" rows="5"
                                  class="form-control autosize" >{{ demo_task.content or '' }}</textarea>
                        <div class="invalid-feedback">请输入正确的任务详情!</div>
                    </div>
                    <!-- /.textarea -->
                    <!-- /.string -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group " name="start">
                        <label class="">开始日期</label>
                        <input name="start" type="text" class="form-control date" 
                               value="{{ demo_task.start or '' }}">
                        <div class="invalid-feedback">请输入正确的开始日期!</div>
                    </div>
                    <!-- /.date -->
                    <!-- /.date -->
                </div>
                <div class="col-sm">
                    <div class="form-group " name="end">
                        <label class="">结束日期</label>
                        <input name="end" type="text" class="form-control date" 
                               value="{{ demo_task.end or '' }}">
                        <div class="invalid-feedback">请输入正确的结束日期!</div>
                    </div>
                    <!-- /.date -->
                    <!-- /.date -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <fieldset class="relation object" name="user" format="select">
                        <div class="form-group relation " name="@" relation-id="id" relation-title="name">
                            <label class=""><span class="text-danger mr-1">*</span>负责人</label>
                            <select class="custom-select select2" name="" required>
                                <option value="">请选择...</option>
                                {% for demo_user in demo_users %}
                                <option value="{{ demo_user.id }}" {{ 'selected' if demo_task.user.id == demo_user.id }}>{{ demo_user.name }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">请选择负责人!</div>
                        </div>
                    </fieldset>
                    <!-- /.object -->
                </div>
            </div>
            <!-- /.layout -->
        </fieldset>
        </div></div>
        <!-- /.object -->
    </form>
    <div class="form-actions mb-4">
        <a class="btn btn-primary mr-2" onclick="post_demo_task_form($(this));"><i class="fe fe-save mr-1"></i>保存</a>
        {% if demo_task.id %}
        <a href="task-detail?id={{ demo_task.id }}" class="btn btn-outline-primary mr-2"><i class="fe fe-corner-up-left mr-1"></i>返回</a>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(){
        // init
    });
    function post_demo_task_form(btn){
        if (btn.is(".doing")) {
            return;
        }
        var msg = "确定要保存么?";
        var con = window.confirm(msg);
        if (!con) {
            return false;
        }
        var param = process_form($("#demo-task-form"));
        if (!param["valid"]) {
            showError('检测到不正确的数据, 请更正后重试!');
            return false;
        }
        //
        btn.addClass("doing");
        var method = btn.is("input") ? "val" : "text";
        var oldLabel = btn[method]();
        btn[method](oldLabel + "...");
        //
        {% for arg in args %}
        param["demo_task.{{ arg[0] }}"] = "{{ arg[1] }}";
        {% endfor %}
        //
        var url = "{{ request.path }}/demo-task-form?id={{ demo_task.id or '' }}";
        $.post(url, param, function (result) {
            if (result.error == 0) {
                showSuccess(result.message);
                showInfo('Refreshing...');
                setTimeout(function () {
                    location.href = "task-detail?id=" + result.id;
                }, 2000);
            } else {
                showError(result.message);
            }
            btn.removeClass("doing");
            btn[method](oldLabel);
        }, "json");
    }
</script>
