<div class="field-group {{ 'row' if view_is_horizontal }}">
    <label class="text-gray-700 {{ 'col-auto col-field-label' if view_is_horizontal }}">{{ field_schema.title }}{{ '('~field_schema.unit~')' if field_schema.unit }}</label>
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    <div class="field-control">
        {% filter right(8) %}{{ display_inline(field_name, field_path, field_schema) }}{% endfilter %}
    </div>
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
