{# TODO: Add modals to display field details #}
{% if not is_in_card %}
<div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div><div class="table-responsive">
{% endif %}
{% if field_schema.type == 'array' %}
{% set item_schema = field_schema['items'] %}
{% set fields = field_layout|fields or item_schema['columns'] %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% set excludes = namespace(value=[]) %}
<table class="table table-striped {{ 'border-bottom mb1' if field_schema.is_back_relation and field_schema.ownership == 'own' }}">
    <thead>
        <tr>
            {% for field_name in fields %}
            {% set column_schema = item_schema.properties[field_name] %}
            {# calculated excludes to prevent self-referencing #}
            {% set ref = column_schema['items'].ref if column_schema.type == 'array' else column_schema.ref %}
            {% if ref %}
                {% set excludes.value = excludes.value + [field_name] %}
            {% else %}
            <th>{{ column_schema.title }}{{ '(' + column_schema.unit + ')' if column_schema.unit }}</th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
        <tr class="" name="{{ '{{' }} loop.index0 {{ '}}' }}">
            {% set target_url = generate_url(item_schema.py_type, field_name~'_item', 'read') if field_schema.is_relation else none %}
            {% filter right(12) %}{{ display_table_columns(field_name~'_item', item_schema, fields, excludes.value, target_url) }}{% endfilter %}
        </tr>
        {{ '{%' }} else {{ '%}' }}
        <tr><td colspan="{{ fields|length + 1 }}"><div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>__(No ){{ item_schema.title }}__(!)</div></td></tr>
        {{ '{%' }} endfor {{ '%}' }}
    </tbody>
</table>
{# back relation and has defined edit view #}
{% if field_schema.is_back_relation and field_schema.ownership == 'own' %}
{% set target_url = generate_url(item_schema.py_type, actions=['create', 'upcreate']) %}
{% if target_url !='javascript:;' %}
<div class="array-actions m1">
    <a class="btn btn-outline-primary" href="{{ target_url }}?{{ field_schema.save_field_name }}={{ '{{ '~model.name_snake~'.'~model.schema.id_name~' }}' }}">__(Create ){{ item_schema.title }}...</a>
</div>
{% endif %}
{% endif %}
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}
{% if not is_in_card %}
</div></div>
{% endif %}