{% if not is_in_card %}
<div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div><div class="card-body">
{% endif %}
{% if field_schema.type == 'array' %}
{% set item_schema = field_schema['items'] %}
{# First field should be media, i.e, image or video #}
{% set fields = field_layout|fields or item_schema['columns'] %}
{% set first_field_name = fields[0] %}
{% set first_field_schema = item_schema.properties[first_field_name] %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% set title_field_schema = item_schema.properties[title_field_name] %}
{% set content_field_name = fields|match('content|text') %}
{% set time_field_name = fields|match('update_time|create_time|\\w*time') %}
<ul class="array-items list-group list-group-flush">
    {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
    {% set item_target = generate_url(item_schema.py_type, field_name~'_item', 'read') if field_schema.is_relation else 'javascript:;' %}
    <li class="array-item list-group-item">
        <div class="row align-items-center">
            {% if first_field_schema.format in ['image', 'avatar'] %}
            <div class="col-auto" name="{{ first_field_name }}" format="{{ first_field_schema.format }}">
                <a href="{{ item_target }}" class="avatar {{ 'avatar-4by3' if first_field_schema.format=='image' }}">
                    <img src="{{ '{{' }} {{ field_name~'_item.'~first_field_name }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded{{ '-circle' if first_field_schema.format=='avatar' }} {{ '{{' }} 'd-none' if not {{ field_name~'_item.'~first_field_name }} {{ '}}' }}">
                    <span fallback={{ title_field_name }} class="avatar-title rounded{{ '-circle' if first_field_schema.format=='avatar' }} bg-primary {{ '{{' }} 'd-none' if {{ field_name~'_item.'~first_field_name }} {{ '}}' }}">{{ '{{' }} {{ field_name~'_item.'~title_field_name }}|first|upper if {{ field_name~'_item.'~title_field_name }} is not none {{ '}}' }}</span>
                </a>
            </div>
            {% else %}
            <div class="col-auto" name="{{ title_field_name }}" format="{{ title_field_schema.format }}">
                <a href="{{ item_target }}" class="avatar">
                    <span class="avatar-title bg-primary-soft rounded text-primary">{{ '{{' }} {{ field_name }}_item.{{ title_field_name }}|first|upper if {{ field_name }}_item.{{ title_field_name }} is not none {{ '}}' }}</span>
                </a>
            </div>
            {% endif %}
            <div class="col ml-n2">
                <p name="{{ title_field_name }}" format="{{ title_field_schema.format }}" class="mb-1">{{ '{{' }} {{ field_name }}_item.{{ title_field_name }} or '' {{ '}}' }}</p>
                {% if content_field_name %}
                <p name="{{ content_field_name }}" format="{{ item_schema.properties[content_field_name].format }}" class="small text-gray-700 mb-1">{{ '{{' }} {{ field_name }}_item.{{ content_field_name }} or '' {{ '}}' }}</p>
                {% endif %}
                {% if time_field_name %}
                <p class="small text-muted mb-0"><i class="fe fe-clock mr-2"></i>{{ '{{' }} {{ field_name }}_item.{{ time_field_name }}|timesince if {{ field_name }}_item.{{ time_field_name }} is not none {{ '}}' }}</p>
                {% endif %}
            </div>
        </div>
    </li>
    {{ '{%' }} else {{ '%}' }}
    <li class="array-item list-group-item">
        <div class="row align-items-center">
            <div class="col"><div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>__(No ){{ item_schema.title }}__(!)</div></div>
        </div>
    </li>
    {{ '{%' }} endfor {{ '%}' }}
</ul>
{% else %}
UNSUPPORTED! {{ field_schema.format }} format do not support {{ field_schema.type }}!
{% endif %}
{% if not is_in_card %}
</div></div>
{% endif %}