<div class="field-group{{ ' row' if view_is_horizontal }}">
    <label class="text-gray-700 {{ 'col-auto col-field-label' if view_is_horizontal }}">{{ field_schema.title }}{{ '('~field_schema.unit~')' if field_schema.unit }}</label>
    {% if view_is_horizontal %}
    <div class="col">
    {% endif %}
    <div class="field-control">
        {# Flask enable autoescape, so if you would like to display html content, need to add |replace('\n', '<br>')|safe filter manually. #}
        <div class="border-left-primary border-left-3 px-4 py-2 font-size-lg">{{ '{{' }} {{ field_path }} if {{ field_path }} is not none else '-' {{ '}}' }}</div>
    </div>
    {% if view_is_horizontal %}
    </div>
    {% endif %}
</div>
