{# * #}
{# * macro - generate url for a model under current domain, return the first view with matched action #}
{# * #}
{% macro generate_url(model_name, model_path=none, actions=none) %}
    {# NOTE: models({name:model_setting}) & domain(str) is in context always, while blueprint({name, views}) is in context when rendering view #}
    {% set model = models[model_name] %}
    {% if actions is not sequence %}
        {% set actions = [action] %}
    {% endif %}
    {% set ns = namespace(view=none) %}
    {% for v in model.views %}
        {% if domain in v.domains and blueprint.name == v.blueprint and v.action in actions %}
            {% set ns.view = v %}
            {% break %}
        {% endif %}
    {% endfor %}
    {% if ns.view %}{{ ns.view.name }}{{ '?id={{ '~model_path~'.'~model.schema.id_name~' }}' if model_path }}{% else %}javascript:;{% endif %}
{% endmacro %}
{# * #}
{# * macro - render summary, also used as default grid #}
{# * #}
{% macro display_summary(field_name, field_path, field_schema, field_layout, is_in_card, target_url=none) %}
{% include '__includes/display_summary.html' %}
{% endmacro %}
{# * #}
{# * macro - display field content inline, i.e, in a table column or in summary's .list-group-item #}
{# * #}
{% macro display_inline(field_name, field_path, field_schema, fallback=none) %}
{% if field_schema.type == 'object' %}
{% set title_field_name = field_schema|field('title|name|\\w*name') %}
{{ '{{' }} {{ field_path }}.{{ title_field_name }} or '-' {{ '}}' }}
{% elif field_schema.type == 'array' %}
{# display length for object array #}
{% if field_schema['items'].type == 'object' %}
{{ '{{' }} {{ field_path }}|length {{ '}}' }}
{% else %}
{# display each for simple array #}
{{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
{{ '{{' }} ' ' if not loop.fist {{ '}}' }}{{ display_inline('-', field_name~'_item', field_schema['items']) -}}
{{ '{%' }} endfor {{ '%}' }}
{% endif %}
{% else %}
{% if field_schema.format in ['int', 'float'] %}
{{ '{{' }} {{ field_path }}|int|commas if {{ field_path }} is not none else '-' {{ '}}' }} {{ '%' if field_schema.unit == '%' }}
{% elif field_schema.format in ['switch'] %}
{{ '{{' }} '是' if {{ field_path }} else '否' {{ '}}' }}
{% elif field_schema.format in ['datetime'] %}
{{ '{{' }} {{ field_path }}|datetime if {{ field_path }} is not none else '-' {{ '}}' }}
{% elif field_schema.format in ['date'] %}
{{ '{{' }} {{ field_path }}|date if {{ field_path }} is not none else '-' {{ '}}' }}
{% elif field_schema.format in ['select', 'buttongroup'] %}
{{ '{% if' }} {{ field_path }} is not none {{ '%}' -}}
{% if field_name == 'status' %}<span class="text-{{ '{{' }} {{ field_path }}|tocolor {{ '}}' }} mr-2">●</span>{% endif %}
{% if field_schema.enum %}{{ '{{' }} enum_titles('{{ field_schema.py_type }}')[{{ field_path }}] {{ '}}' }}{% else %}{{ '{{' }} {{ field_path }} {{ '}}' }}{% endif %}
{{ '{% else %}-{% endif %}' }}
{% elif field_schema.format in ['avatar'] %}
<div class="avatar avatar-sm">
    <img src="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded-circle {{ '{{' }} 'd-none' if not {{ field_path }} {{ '}}' }}">
    {% filter right(4) %}{{ fallback }}{% endfilter %}
</div>
{% elif field_schema.format in ['image'] %}
<div class="avatar avatar-sm avatar-4by3">
    <img src="{{ '{{' }} {{ field_path }} or '' {{ '}}' }}" alt="..." class="avatar-img rounded {{ '{{' }} 'd-none' if not {{ field_path }} {{ '}}' }}">
    {% filter right(4) %}{{ fallback }}{% endfilter %}
</div>
{% elif field_schema.format in ['link'] %}
<a href="{{ '{{' }} {{ field_path }} or 'javascript:;' {{ '}}' }}" target="_blank"><i class="fe fe-external-link mr-2"></i></a>
{% else %}
{{ '{{' }} {{ field_path }} or '-' {{ '}}' }}
{% endif %}
{% endif %}
{% endmacro %}
{# * #}
{# * macro - display columns in table #}
{# * #}
{% macro display_table_columns(row_path, row_schema, fields, excludes=[], row_target_url=none) %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% for field_name in fields if field_name not in excludes %}
{% set field_path = row_path~'.'~field_name %}
{% set field_schema = row_schema.properties[field_name] %}
{% set field_enum = field_schema['items'].py_type if field_schema.type == 'array' and field_schema['items'].enum else (field_schema.py_type if field_schema.enum else '') %}
{% set fallback = none %}
{% if field_schema.format in ['image', 'avatar'] %}
    {% set fallback %}<span fallback={{ title_field_name }} class="avatar-title bg-primary-soft rounded{{ '-circle' if field_schema.format == 'avatar' }} text-primary {{ '{{' }} 'd-none' if {{ field_path }} {{ '}}' }}">{{ '{{' }} {{ row_path~'.'~title_field_name }}|first|upper if {{ row_path~'.'~title_field_name }} is not none {{ '}}' }}</span>
    {% endset %}
{% endif %}
<td name="{{ field_name }}" format="{{ field_schema.format }}" enum="{{ field_enum }}">
    {% if row_target_url and loop.first and field_schema.format != 'link' %}
    <a href="{{ row_target_url }}">
    {% endif %}
    {% filter right(4) %}{{ display_inline(field_name, field_path, field_schema, fallback)}}{% endfilter %}
    {% if row_target_url and loop.first %}
    </a>
    {% endif %}
</td>
{% endfor %}
{% endmacro %}
{# * #}
{# * macro - display list-group-item in a list-group #}
{# * #}
{% macro display_list_group_items(item_path, item_schema, fields, excludes=[]) %}
{% set title_field_name = fields|match('title|name|\\w*name') %}
{% for field_name in fields if field_name not in excludes %}
{% set field_path = item_path~'.'~field_name %}
{% set field_schema = item_schema.properties[field_name] %}
{% set field_enum = field_schema['items'].py_type if field_schema.type == 'array' and field_schema['items'].enum else (field_schema.py_type if field_schema.enum else '') %}
{% set fallback = none %}
{% if field_schema.format in ['image', 'avatar'] %}
    {% set fallback %}<span fallback={{ title_field_name }} class="avatar-title bg-primary-soft rounded{{ '-circle' if field_schema.format == 'avatar' }} text-primary {{ '{{' }} 'd-none' if {{ field_path }} {{ '}}' }}">{{ '{{' }} {{ item_path~'.'~title_field_name }}|first|upper if {{ item_path~'.'~title_field_name }} is not none {{ '}}' }}</span>
    {% endset %}
{% endif %}
<div class="list-group-item">
    <div class="row align-items-center">
        <div class="{{ 'col-auto' if field_schema.unit == '%' else 'col'}}">
            <span>{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% else %}<i class="mx-3"></i>{% endif %}{{ field_schema.title}}{{ '('~field_schema.unit~')' if field_schema.unit and field_schema.unit != '%' }}{% if field_schema.description %}<i class="fe fe-help-circle ml-2" data-toggle="tooltip" data-placement="top" title="{{ field_schema.description }}"></i>{% endif %}</span>
        </div>
        {% if field_schema.unit == '%'  %}
        <div class="col" name="{{ c }}" format="{{ field_schema.format }}">
            <div class="progress progress-sm">
                <div class="progress-bar" role="progressbar" style="width:{{ '{{' }} {{ field_path }} or 0 {{ '}}' }}%;" aria-valuenow="{{ '{{' }} {{ field_path }} or 0 {{ '}}' }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        {% endif %}
        <div class="col-auto text-muted" name="{{ field_name }}" format="{{ field_schema.format }}" enum="{{ field_enum }}">
            {% filter right(12) %}{{ display_inline(field_name, field_path, field_schema, fallback) }}{% endfilter %}
        </div>
    </div>
</div>
{% endfor %}
{% endmacro %}
{# * #}
{# * macro - display format #}
{# * #}
{% macro display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card) %}
{% set format_file = '__includes/display_' ~ field_format ~ '.html' %}
{% if not exists(format_file) %}
    {% set format_file = '__includes/display_*.html' %}
{% endif %}
{% include format_file %}
{% endmacro %}
{# * #}
{# * macro - display field #}
{# * NOTE: field_name/field_path/field_schema/field_layout/is_in_card are used in __includes snippets, can not change their names #}
{# * #}
{% macro display_field(field_name, field_path, field_schema, field_layout, field_format, is_in_card) %}
{# object field #}
{% if field_schema.type == 'object' %}
<div class="object{{ ' relation' if field_schema.is_relation }}" name="{{ field_name }}" format="{{ field_format }}">
{# w/ format #}
{% if field_format %}
    {% filter right(4) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card) }}{% endfilter %}
{# w/o format #}
{% else %}
    {% set render_card = true if (not is_in_card) else false %}
    {% if render_card %}
    <div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ field_schema.title }}</h4></div><div class="card-body">
    {% endif %}
    {{ '{%' }} set {{ field_name }} = {{ field_path }} {{ '%}' }}
    {% filter right(4) %}{{ display_layout(field_name, field_name, field_schema, field_layout, render_card) }}{% endfilter %}
    {% if render_card %}
    </div></div>
    {% endif %}
{% endif %}
</div>
{# array field #}
{% elif field_schema.type == 'array' %}
<div class="array{{ ' relation' if field_schema.is_relation }}" name="{{ field_name }}" format="{{ field_format }}">
{# w/ format #}
{% if field_format %}
    {% filter right(4) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card) }}{% endfilter %}
{# w/o format #}
{% else %}
    {% set item_schema = field_schema['items'] %}
    <div class="array-items">
        {{ '{%' }} for {{ field_name }}_item in {{ field_path }} {{ '%}' }}
        <div class="array-item {{ item_schema.type }}" name="-" format="{{ item_schema.format }}">
            {# simple types always have a format, this also handle objects that have format #}
            {% if item_schema.format %}
            {% filter right(12) %}{{ display_format('-', field_name~'_item', item_schema, field_layout, is_in_card) }}{% endfilter %}
            {% elif item_schema.type == 'object' %}
            {% filter right(12) %}{{ display_layout('-', field_name~'_item', item_schema, field_layout, is_in_card) }}{% endfilter %}
            {% else %}
            UNSUPPORTED! {{ item_schema.type }} with format {{ item_schema.format }} can not in an array!
            {% endif %}
        </div>
        {{ '{%' }} else {{ '%}' }}
        <div class="array-item">
            <div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>__(No ){{ item_schema.title }}__(!)</div>
        </div>
        {{ '{%' }} endfor {{ '%}' }}
    </div>
{% endif %}
</div>
{# simple field, always having a format #}
{% else %}
{% filter right(0) %}{{ display_format(field_name, field_path, field_schema, field_layout, field_format, is_in_card) }}{% endfilter %}
{% endif %}
{% endmacro %}
{# * #}
{# * macro - display layout for an object, a group or a list item object recrusively #}
{# * NOTE: field_name/field_path/field_schema/field_layout/is_in_card are used in __includes snippets, can not change their names #}
{# * #}
{% macro display_layout(field_name, field_path, field_schema, field_layout, is_in_card, is_first_level=false) %}
{# per row #}
{% for row in field_layout %}
<div class="row">
{# per column #}
{% for column in row %}
    {% set column_name = column['name'] %}
    {% set column_path = field_path~'.'~column_name %}
    {% set column_schema = field_schema.properties[column_name] or {} %}
    {% set column_layout = column['rows'] %}
    {# column format overwrites schema format #}
    {% set column_format = column.format or column_schema.format %}
    {% set column_is_card = true if 'is_card' not in column.params else column.params.is_card %}
    {% set column_class = 'col-lg' if is_first_level else 'col' %}
    <div class="{{ (column_class~'-'~column.span|string) if column.span else column_class }}">
    {# blank column #}
    {% if not column_name %}
        {# pass #}
    {# hyphen column #}
    {% elif column_name == '-' %}
        <hr class="mt-3 mb-3">
    {# group column #}
    {% elif column_name|float(-1) != -1 %}
        <div class="group" name="{{ column_name }}" format="{{ column_format }}">
        {# w/ format, i.e, summary #}
        {% if column_format %}
            {% filter right(12) %}{{ display_format(field_name, field_path, field_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
        {# w/o format #}
        {% else %}
            {% set render_card = not is_in_card and column_is_card %}
            {% if render_card %}
            <div class="card">{% if column.params.title %}<div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ column.params.title }}</h4></div>{% endif %}<div class="card-body">
            {% endif %}
            {% filter right(12) %}{{ display_layout(field_name, field_path, field_schema, column_layout, render_card) }}{% endfilter %}
            {% if render_card %}
            </div></div>
            {% endif %}
        {% endif %}
        </div>
    {# make sure column_schema is valid #}
    {% elif not column_schema %}
        UNSUPPORTED! invalid column name: {{ column_name }}!
    {% else %}
        {% filter right(8) %}{{ display_field(column_name, column_path, column_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}
{% endmacro %}