{# * #}
{# * available context {view, model, action, render_controls, ...} #}
{# * #}
{% set view_is_card = view.params.is_card or false %}
{% set view_is_horizontal = view.params.is_horizontal or false %}
{# * #}
{# * macro - render format #}
{# * #}
{% macro render_format(field_name, field_path, field_schema, field_layout, format, is_in_card) %}
{% set format_file = '__includes/display_' ~ format ~ '.html' %}
{% if not exists(format_file) %}
    {% set format_file = '__includes/display_*.html' %}
{% endif %}
{% include format_file %}
{% endmacro %}
{# * #}
{# * macro - render layout for an object, a group or a list item object recrusively #}
{# * NOTE: field_name/field_path/field_schema/field_layout/is_in_card are used in __includes snippets, can not change their names #}
{# * #}
{% macro render_layout(field_name, field_path, field_schema, field_layout, level, is_in_card) %}
{# per row #}
{% for row in field_layout %}
<div class="row">
{# per column #}
{% for column in row %}
    {% set column_name = column['name'] %}
    {% set column_path = field_path~'.'~column_name %}
    {% set column_schema = field_schema.properties[column_name] or {} %}
    {% set column_layout = column['rows'] %}
    {# column format overwrites schema format #}
    {% set column_format = column.format or column_schema.format %}
    {% set column_title = column.params.title if column.params.title else column_schema.title %}
    {% set column_class = 'col-lg' if level == 0 else 'col' %}
    <div class="{{ (column_class~'-'~column.span|string) if column.span else column_class }}">
    {# blank column #}
    {% if not column_name %}
        {# pass #}
    {# hyphen column #}
    {% elif column_name == '-' %}
        <hr class="mt-3 mb-4">
    {# group column #}
    {% elif column_name|float(-1) != -1 %}
        <div class="group" name="{{ column_name }}" format="{{ column_format }}">
        {# w/ format, i.e, summary #}
        {% if column_format %}
            {% filter right(12) %}{{ render_format(field_name, field_path, field_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
        {# w/o format #}
        {% else %}
            {% set render_card = true if (not is_in_card and column_title) else false %}
            {% if render_card %}
            <div class="card"><div class="card-header"><h4 class="card-header-title">{% if field_schema.icon %}<i class="fe fe-{{ field_schema.icon }} mr-2"></i>{% endif %}{{ column_title }}</h4></div><div class="card-body">
            {% endif %}
            {% filter right(12) %}{{ render_layout(field_name, field_path, field_schema, column_layout, level + 1, render_card) }}{% endfilter %}
            {% if render_card  %}
            </div></div>
            {% endif %}
        {% endif %}
        </div>
    {# make sure column_schema is valid #}
    {% elif not column_schema %}
        UNSUPPORTED! invalid column name: {{ column_name }}!
    {# object column #}
    {% elif column_schema.type == 'object' %}
        <div class="object{{ ' relation' if column_schema.is_relation }}" name="{{ column_name }}" format="{{ column_format }}">
        {# w/ format #}
        {% if column_format %}
            {% filter right(12) %}{{ render_format(column_name, column_path, column_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
        {# w/o format #}
        {% else %}
            {% set render_card = true if (not is_in_card) else false %}
            {% if render_card %}
            <div class="card"><div class="card-header"><h4 class="card-header-title">{% if column_schema.icon %}<i class="fe fe-{{ column_schema.icon }} mr-2"></i>{% endif %}{{ column_title }}</h4></div><div class="card-body">
            {% endif %}
            {{ '{%' }} set {{ column_name }} = {{ column_path }} {{ '%}' }}
            {% filter right(12) %}{{ render_layout(column_name, column_name, column_schema, column_layout, level + 1, render_card) }}{% endfilter %}
            {% if render_card %}
            </div></div>
            {% endif %}
        {% endif %}
        </div>
    {# array column #}
    {% elif column_schema.type == 'array' %}
        <div class="array{{ ' relation' if column_schema.is_relation }}" name="{{ column_name }}" format="{{ column_format }}">
        {# w/ format #}
        {% if column_format %}
            {% filter right(12) %}{{ render_format(column_name, column_path, column_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
        {# w/o format #}
        {% else %}
            {% set item_schema = column_schema['items'] %}
            <div class="array-items">
                {{ '{%' }} for {{ column_name }}_item in {{ column_path }} {{ '%}' }}
                <div class="array-item {{ item_schema.type }}" name="-" format="{{ item_schema.format }}">
                    {# simple types always have a format, this also handle objects that have format #}
                    {% if item_schema.format %}
                    {% filter right(20) %}{{ render_format('-', column_name~'_item', item_schema, column_layout, is_in_card) }}{% endfilter %}
                    {% elif item_schema.type == 'object' %}
                    {% filter right(20) %}{{ render_layout('-', column_name~'_item', item_schema, column_layout, level + 1, is_in_card) }}{% endfilter %}
                    {% else %}
                    UNSUPPORTED! {{ item_schema.type }} with format {{ item_schema.format }} can not in an array!
                    {% endif %}
                </div>
                {{ '{%' }} else {{ '%}' }}
                <div class="array-item">
                    <div class="alert alert-light mb-0"><i class="fe fe-alert-circle mr-2"></i>没有{{ item_schema.title }}！</div>
                </div>
                {{ '{%' }} endfor {{ '%}' }}
            </div>
        {% endif %}
        </div>
    {# simple column, always having a format #}
    {% else %}
        {% filter right(8) %}{{ render_format(column_name, column_path, column_schema, column_layout, column_format, is_in_card) }}{% endfilter %}
    {% endif %}
    </div>
{% endfor %}
</div>
{% endfor %}
{% endmacro %}
{# * #}
{# * main #}
{# * #}
<div id="div-{{ view.name_kebab }}">
    {% if view_is_card %}
    <div class="card"><div class="card-body">
    {% endif %}
    <div class="object" name="{{ model.name_snake }}">
        {% filter right(8) %}{{ render_layout(model.name_snake, model.name_snake, model.schema, view.rows, 0, view_is_card) }}{% endfilter %}
    </div>
    {% if view_is_card %}
    </div></div>
    {% endif %}
</div>
