<div class="form-group" name="{{ name }}">
    <label>{{ name }}</label>
    <span class="text-muted font-weight-light">{{ '*' if is_required }}</span>
    <div class="rte-input-group" {{ 'required' if is_required }}>
        <div class="quill" name="{{ name }}"
             data-token="{{ upload_config.token }}"
             data-upload="{{ upload_config.endpoint }}"
             data-max="{{ upload_config.max }}"
             data-preview='{"image":"{{ upload_config.image_preview_sm }}","video":"{{ upload_config.video_poster_sm }}"}'
             data-filters='{"mime_types":"{{ upload_config.mimes_image|join(',') }}"}'>{{ jvalue|safe if jvalue }}</div>
        <small class="form-text">You can upload images by clicking the image button in the toolbar,
            support {{ upload_config.mimes_image|join(', ') }}. <a class="quill-plupload">&nbsp;</a>
        </small>
    </div>
    <div class="invalid-feedback">Please input valid {{ 'value' if is_in_list else name }}!</div>
    <div class="act">
        <a class="format" href="javascript:;">
            {{ jschema.type }}{{ '|' + jschema.format if jschema.format }}</a>
        {% if is_in_list %}
            <a class="del" href="javascript:;">x</a>
        {% endif %}
    </div>
</div>