{% extends 'layoutdash.html' %}

{% set breadcrumb = {
    'title': 'Models',
    'links': [
        {'url':'/', 'title':'Home'},
        {'url':'/dashboard/', 'title':'Dashboard'},
        {'url':'/crud/', 'title':'Models'}
    ]
} %}

{% block title %}Models{% endblock %}

{% block left %}
    <section>
        <h4>Registered Models</h4>
        <p class="mb-3 text-muted">You can define you models in <code>/app/models</code> package in
            a very simple and natural way. We are currently using <code>mongoDB</code> because of
            its flexibility and performance, especially suitable for the projects in early stage.
        </p>
        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Models</th>
                <th>Profile</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for m in models %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/crud/query/{{ m.name }}">{{ m.name|capitalize }}</a></td>
                    <td></td>
                    <td>
                        <a href="/crud/query/{{ m.name }}">Query</a>
                        <a href="/crud/form/{{ m.name }}/">New</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted"></p>
        <ul class="list-unstyled">
            <li>1. Model class names use the
                <a href="https://www.python.org/dev/peps/pep-0008/#class-names" target="_blank">CapWords</a>
                convention. Their names must be unique, regardless of case.
            </li>
        </ul>
    </section>
{% endblock %}