{% extends 'layoutdash.html' %}

{% set plural = model.name + 's' %}
{% set initial = model.name|first %}
{% set title = plural|capitalize %}
{% set breadcrumb = {
    'title': title,
    'links': [
        {'url':'/', 'title':'Home'},
        {'url':'/dashboard/', 'title':'Dashboard'},
        {'url':'/crud/', 'title':'Models'},
        {'url':'/crud/query/'+model.name, 'title': title}
    ]
} %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
    {{ render_style() }}
{% endblock %}

{% block left %}
    {{ render_html() }}
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted"></p>
        <ul class="list-unstyled">
            <li>1. Model's json schema is a subset of
                <a href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#schema-object"
                   target="_blank">Object Schema from OAS 3.0</a>. We use this json schema for form generation and api
                doc generation(with <a href="https://swagger.io/tools/swagger-ui/" target="_blank">Swagger UI</a>).
            </li>
            {% if current_user.is_admin %}
                <li>2. You can generate codes by clicking <a class="text-danger" href="#gen" data-toggle="modal">GEN</a>
                    here.
                </li>
            {% endif %}
        </ul>
        <a class="btn btn-primary btn-sm" href="/crud/form/{{ model.name }}/">New</a>
        <a class="btn btn-light btn-sm" href="/crud/">Cancel</a>
    </section>
{% endblock %}

{% block script %}
    {% if current_user.is_admin %}
        <div class="modal fade" id="gen" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Code Generation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>Html</h5>
                                    <p class="text-muted">Template name should be <code>index.html</code>, and variables
                                        used in template are <code>search</code> & <code>{{ plural }}</code> & <code>pagination</code>.
                                    </p>
                                    <div class="code html" style="height:600px;"></div>
                                    <iframe style="display:none;">
                                        <!-- STYLE -->{{ render_style() }}
                                        <!-- HTML -->{{ render_html(true) }}
                                        <!-- SCRIPT -->{{ render_script(true) }}
                                    </iframe>
                                </div>
                                <div class="col-md-6">
                                    <h5>Python</h5>
                                    <p class="text-muted">Default blueprint is <code>{{ plural }}</code>, please change
                                        it accordingly.</p>
                                    <div class="code python" style="height:600px;"></div>
                                    <textarea style="display:none;">
from flask import Blueprint, render_template, current_app, request, jsonify, abort
from flask_babel import gettext as _
from app.core import Pagination
from app.models import {{ model.name|capitalize }}
from app.tools import auth_permission

{{ plural }} = Blueprint('{{ plural }}', __name__)
PAGE_COUNT = 15
MAX_PAGE = 20

@{{ plural }}.route('/')
def index():
    """ {{ model.name|capitalize }} index view. """
    page = _parse_page()
    # TODO: Parse search
    search = {}
    sort = None
    records, pagination = _get_records_and_pagination({{ model.name|capitalize }}, page, search, sort)
    return render_template('{{ plural }}/index.html', search=search, {{ plural }}=records, pagination=pagination)

def _parse_page():
    """ Make sure page param is valid. """
    p = request.args.get('p', '1')
    if p.isdigit():
        return int(p)
    else:
        return 1

def _get_records_and_pagination(model, page, condition, sort):
    """ Query records and generate pagination. """
    count = model.count(condition)
    limit = PAGE_COUNT * MAX_PAGE
    if count > limit:
        count = limit
    start = (page - 1) * PAGE_COUNT
    records = list(model.find(condition, skip=start, limit=PAGE_COUNT, sort=sort))
    pagination = Pagination(page, PAGE_COUNT, count)
    return records, pagination

@{{ plural }}.route('/delete/&lt;ObjectId:{{ initial }}id&gt;', methods=('POST',))
@auth_permission
def delete({{ initial }}id):
    """ Delete {{ model.name|capitalize }}. """
    existing = {{ model.name|capitalize }}.find_one({{ initial }}id)
    if not existing:
        abort(404)

    try:
        existing.delete()
    except:
        current_app.logger.exception('Failed when deleting {{ model.name }}')
        return jsonify(success=False, message=_('Failed when deleting the {{ model.name }}, please try again later!'))

    return jsonify(success=True, message=_('Delete the {{ model.name }} successfully.'), {{ initial }}id={{ initial }}id)
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {# Below libs are used for code generation only, so we do NOT include them in package.json #}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ace.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-html.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/mode-python.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.11/ext-searchbox.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify.js"></script>
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/js-beautify/1.11.0/beautify-html.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("div.code").each(function (i, n) {
                    var editor = ace.edit(n), session = editor.getSession(), code = "";
                    session.setUseWorker(false);
                    if ($(n).is(".html")) {
                        session.setMode("ace/mode/html");
                        // Find the html code in next textarea, so that we do need to perform html escape manually
                        code = html_beautify($(n).next("iframe").html().trim(), {
                            indent_size: "2",
                            indent_char: " ",
                            max_preserve_newlines: -1,
                            preserve_newlines: false,
                        });
                    } else if ($(n).is(".python")) {
                        session.setMode("ace/mode/python");
                        code = $(n).next("textarea").val().trim();
                    }
                    session.setValue(code);
                });
            });
        </script>
    {% endif %}
    {{ render_script() }}
{% endblock %}

{% macro render_html(gen=false) %}
    <section>
        <form novalidate>
            <div class="form-row justify-content-center">
                {% for f in model.jschema.indexes %} {# Do not support nested field #}
                    {% set fs = model.jschema.properties[f] %}
                    {% set path = 'search.' + f %}
                    {% set rv = search[f] %}
                    <div class="col-auto">
                        <label class="sr-only">{{ f|capitalize }}</label>
                        {% if fs.enum %}
                            <select class="form-control " name="{{ path }}">
                                <option value="">Choose {{ f|capitalize }}...</option>
                                {% for e in fs.enum %}
                                    <option value="{{ e }}" {{ render_selected(path, rv, e, gen) }}>{{ e }}</option>
                                {% endfor %}
                            </select>
                        {% elif fs.type == 'boolean' %}
                            <select class="form-control" name="{{ path }}">
                                <option value="">Choose {{ f|capitalize }}...</option>
                                <option value="true" {{ render_selected(path, rv, true, gen) }}>True</option>
                                <option value="false" {{ render_selected(path, rv, false, gen) }}>False</option>
                            </select>
                        {% else %}
                            <input type="text" class="form-control"
                                   style="{{ 'width:100px' if fs.type in ['integer', 'number'] }}"
                                   placeholder="{{ f|capitalize }}" value="{{ render_value(path, rv, gen) }}"
                                   name="{{ path }}">
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-default" onclick="search_do($(this));">Search
                    </button>
                    <button type="button" class="btn btn-light btn-default" onclick="search_reset();">Reset</button>
                </div>
            </div>
        </form>
        <hr>
        <table class="table">
            <thead class="thead-light">
            {% set fs = model.jschema.required %}
            <tr>
                {% for f in fs %}
                    <th>{{ f|capitalize }}</th>
                {% endfor %}
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if gen %}
                {{ '{%' }} for {{ initial }} in {{ plural }} {{ '%}' }}
                <tr>
                    {% for f in fs %}
                        <td>{{ '{{' }} {{ initial }}.{{ f }} {{ '}}' }}</td>
                    {% endfor %}
                    <td>
                        <a href="/{{ plural }}/form/{{ '{{' }} {{ initial }}._id {{ '}}' }}">Change</a>
                        <a href="javascript:;" onclick="delete_record($(this))"
                           {{ initial }}id="{{ '{{' }} {{ initial }}._id {{ '}}' }}">Delete</a>
                    </td>
                </tr>
                {{ '{%' }} else {{ '%}' }}
                <tr>
                    <td colspan="{{ 1+fs|length }}">
                        <div class="alert alert-warning">Can not find any {{ plural }}!</div>
                    </td>
                </tr>
                {{ '{%' }} endfor {{ '%}' }}
            {% else %}
                {% for r in records %}
                    <tr>
                        {% for f in fs %}
                            <td>{{ r[f] }}</td>
                        {% endfor %}
                        <td>
                            <a href="/crud/form/{{ model.name }}/{{ r._id }}">Change</a>
                            <a href="javascript:;" onclick="delete_record($(this))"
                               {{ initial }}id="{{ r._id }}">Delete</a>
                            {% if current_user.is_admin %}
                                <a class="text-danger"
                                   href="/crud/raw/{{ model.name }}/{{ r._id }}">Raw</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="{{ 1+fs|length }}">
                            <div class="alert alert-warning">Can not find any {{ plural }}!</div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        {% if gen %}
            {% raw %}{% include 'blocks/pagination.html' %}{% endraw %}
        {% else %}
            {% include 'blocks/pagination.html' %}
        {% endif %}
    </section>
{% endmacro %}

{# Render selected snippet using field path, real value, check value #}
{% macro render_selected(path, rv, cv, gen=false) %}
    {%- if gen -%}
        {{ '{{' }} 'selected' if {{ ('\''+cv+'\'' if cv is string else cv)|safe }}=={{ path }} {{ '}}' }}
    {%- else -%}
        {{ 'selected' if cv==rv }}
    {%- endif -%}
{% endmacro %}

{# Render input value snippet using field path, real value #}
{% macro render_value(path, rv, gen=false) %}
    {%- if gen -%}
        {{ '{{' }} {{ path }} {{ '}}' }}
    {%- else -%}
        {{ rv }}
    {%- endif -%}
{% endmacro %}

{% macro render_style() %}
{% endmacro %}

{% macro render_script(gen=false) %}
    <script type="text/javascript">
        function search_do(btn) {
            var form = btn.closest("form");
            location.href = "{{ request.path }}?" + form.serialize();
        }

        function search_reset() {
            location.href = "{{ request.path }}";
        }

        function delete_record(btn) {
            if (btn.is(".doing")) {
                return;
            }
            var con = window.confirm("Are you sure to delete this record?");
            if (!con) {
                return false;
            }
            btn.addClass("doing");
            {% set url = ('/' + plural + '/delete/') if gen else ('/crud/delete/' + model.name + '/') %}
            $.post("{{ url }}" + btn.attr("{{ initial }}id"), {}, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                    btn.closest("tr").remove();
                } else {
                    showError(result.message)
                }
                btn.removeClass("doing");
            }, 'json');
        }
    </script>
{% endmacro %}