{% extends 'layoutdash.html' %}

{% set update = true if record._id else false %}
{% set title = ('Update' if update else 'Create') + ' ' + model.name|capitalize %}
{% set breadcrumb = {
    'title': title,
    'links': [
        {'url':'/', 'title':'Home'},
        {'url':'/dashboard/', 'title':'Dashboard'},
        {'url':'/crud/', 'title':'Models'},
        {'url':'/crud/query/'+model.name, 'title': model.name+'s'},
        {'url':'/crud/raw/'+model.name+'/'+(record._id|string if record._id else ''), 'title': title}
    ]
} %}

{% block title %}{{ title }}{% endblock %}

{% block left %}
    <section>
        <div id="raw-editor" class="raw-editor">
            <div id="doc">
                {{ render('Root', model.jschema, record) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block right %}
    <section>
        <h4>Note</h4>
        <p class="text-muted"></p>
        <ul class="list-unstyled">
            {% if update %}
                <li>1. You are updating {{ model.name }}: <code>{{ record._id }}</code>.</li>
            {% else %}
                <li>1. You are creating {{ model.name }}.</li>
            {% endif %}
            <li>2. The whole record will be overwrited when updating.</li>
            <li>3. This raw editor should be used by system admin only.</li>
        </ul>
        {% if update %}
            <a class="btn btn-primary btn-sm" href="javascript:;"
               onclick="save($(this));">Save</a>
            <a class="btn btn-success btn-sm" href="javascript:;"
               onclick="save($(this), true);">Copy</a>
            <a class="btn btn-warning btn-sm" href="/crud/json/{{ model.name }}/{{ record._id }}"
               target="_blank">Json</a>
            <a class="btn btn-light btn-sm" href="/crud/query/{{ model.name }}">Cancel</a>
        {% else %}
            <a class="btn btn-primary btn-sm" href="javascript:;"
               onclick="save($(this));">Save</a>
            <a class="btn btn-light btn-sm" href="/crud/query/{{ model.name }}">Cancel</a>
        {% endif %}
    </section>
{% endblock %}

{% macro render(name, jschema, jvalue, is_in_list=false) %}
    {% if jschema.type == 'object' %}
        <div class="inav">
            <div class="ikey">{{ name }}</div>
            <div class="idesc">Object {{ '{' }}{{ jschema.properties|length }}{{ '}' }} <span>&gt;</span></div>
        </div>
        <div class="ivalue imulti dict" name="{{ name }}">
            <div class="ilist">
                {% for n,s in jschema.properties|items %}
                    {% if n =='_id' %}
                        {# skip #}
                    {% else %}
                        <div class="irow">
                            {{ render(n, s, jvalue[n]) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="iact">
            {% if is_in_list %}
                <a class="del-list-item" href="javascript:;">x</a>
            {% endif %}
        </div>
    {% elif jschema.type == 'array' %}
        <div class="inav">
            <div class="ikey">{{ name }}</div>
            <div class="idesc">Array [{{ jvalue|length }}] <span>&gt;</span></div>
        </div>
        <div class="ivalue imulti list" name="{{ name }}" {{ 'style=display:none' if not jvalue }}>
            <div class="ilist">
                {% for r in jvalue %}
                    <div class="irow">
                        {{ render(loop.index0, jschema['items'], r, true) }}
                    </div>
                {% endfor %}
            </div>
            <div class="template">
                <div class="irow">
                    {% set init = none %}
                    {% if jschema.items.type == 'object' %}
                        {% set init = {} %}
                    {% elif jschema.items.type == 'array' %}
                        {% set init = [] %}
                    {% endif %}
                    {{ render('-1', jschema['items'], init, true) }}
                </div>
            </div>
        </div>
        <div class="iact">
            <a class="add-list-item" href="javascript:;">+</a>
            {% if is_in_list %}
                <a class="del-list-item" href="javascript:;">x</a>
            {% endif %}
        </div>
    {% else %}
        <div class="inav">
            <div class="ikey">{{ name }}</div>
            {{ render_ivalue(name, jschema, jvalue) }}
        </div>
        <div class="iact">
            {% if is_in_list %}
                <a class="del-list-item" href="javascript:;">x</a>
            {% endif %}
            {% if jschema.format == 'date-time' %}
                <a class="get-current-time" href="javascript:;">dt</a>
            {% endif %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_ivalue(name, jschema, jvalue) %}
    {% set isNil = jvalue is none or jvalue is undefined %}
    {% if jschema.enum %}
        <div class="ivalue choice" name="{{ name }}">
            {% for each in jschema.enum %}
                <span {{ 'class=active' if each==jvalue }}>{{ each }}</span>
            {% endfor %}
        </div>
    {% elif jschema.type == 'integer' or jschema.type == 'number' %}
        <div class="ivalue number" name="{{ name }}">
            {% if isNil %}
                <span class="null">Null</span>
            {% else %}
                <span>{{ jvalue }}</span>
            {% endif %}
        </div>
    {% elif jschema.type == 'boolean' %}
        <div class="ivalue bool" name="{{ name }}">
            <span {{ 'class=active' if jvalue }}>true</span>
            <span {{ 'class=active' if not jvalue }}>false</span>
        </div>
    {% elif jschema.type == 'string' %}
        {% if jschema.format == 'date-time' %}
            <div class="ivalue datetime" name="{{ name }}">
                {% if isNil %}
                    <span class="null">Null</span>
                {% else %}
                    <span>{{ jvalue }}</span>
                {% endif %}
            </div>
        {% elif jschema.format == 'ObjectId' %}
            <div class="ivalue objectid" name="{{ name }}">
                {% if isNil %}
                    <span class="null">Null</span>
                {% else %}
                    <span>{{ jvalue }}</span>
                {% endif %}
            </div>
        {% else %}
            <div class="ivalue string" name="{{ name }}">
                {% if isNil %}
                    <span class="null">Null</span>
                {% else %}
                    <span>"{{ jvalue|truncate }}"<i class='ilabel'>{{ jvalue|length }} chars</i></span>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
    <input type="hidden" value="{{ '' if isNil else jvalue }}"
           data-type="{{ jschema.type }}"
           data-format="{{ jschema.format }}"/>
{% endmacro %}

{% block script %}
    <script type="text/javascript" src="{{ base() }}/assets/vendor/moment/dist/moment.min.js"></script>
    <script type="text/javascript" src="{{ base() }}/assets/vendor/sortablejs/Sortable.min.js"></script>
    <script type="text/javascript">

        const DATE_FORMATS = ["YYYY-MM-DD HH:mm:ss.SSS", "YYYY-MM-DD HH:mm:ss"];

        $(document).ready(function () {
            // idesc
            $(".idesc").click(function () {
                var arrow = $(this).children("span");
                var imulti = $(this).parent(".inav").next(".imulti");
                if (arrow.text() == ">") {
                    arrow.text("<");
                    imulti.hide();
                } else {
                    arrow.text(">");
                    imulti.show();
                }
            });

            // ivalue
            $(".ivalue").each(function (i, n) {
                // number/string/datetime/objectid
                if ($(n).is(".number") || $(n).is(".string") || $(n).is(".datetime") || $(n).is(".objectid")) {
                    // Enter editing
                    $(n).on("click", function () {
                        var inav = $(this).parent(".inav");
                        var hidden = $(this).next(":hidden");
                        if (!inav.is(".iseditor")) {
                            inav.addClass("iseditor");
                            $(this).attr("contenteditable", true).attr("spellcheck", false);
                            $(this).text(hidden.val()).focus();
                        }
                    });
                    // Quit editing
                    $(n).on("blur", function () {
                        var inav = $(this).parent(".inav");
                        var hidden = $(this).next(":hidden");
                        if (inav.is(".iseditor")) {
                            var type = hidden.data("type"), format = hidden.data("format");
                            var val = $(this).text().trim();
                            if (val.length > 0) {
                                var msg = validate(type, format, val);
                                if (msg) {
                                    showError(msg);
                                    return;
                                }
                            }
                            inav.removeClass("iseditor");
                            hidden.val(val);
                            $(this).attr("contenteditable", false);
                            if (hidden.val()) {
                                var v = hidden.val();
                                var more = "";
                                if ($(this).is(".string")) {
                                    var length = v.length;
                                    if (length > 200) {
                                        v = v.substr(0, 200) + " ...";
                                        more = "<i class='ilabel'>" + length + " chars</i>";
                                    }
                                    v = '"' + v + '"';
                                }
                                var span = $("<span>").text(v);
                                $(this).html(span);
                                $(this).append(more)
                            } else {
                                $(this).html('<span class="null">Null</span>');
                            }
                        }
                    });
                }
                // bool/choice
                else if ($(n).is(".bool") || $(n).is(".choice")) {
                    $(n).children("span").click(function () {
                        var hidden = $(this).parent(".ivalue").next(":hidden");
                        if ($(this).is(".active")) {
                            $(this).removeClass("active");
                            hidden.val("");
                        } else {
                            $(this).siblings(".active").removeClass("active");
                            $(this).addClass("active");
                            hidden.val($(this).text());
                        }
                    });
                }
            });

            // list
            $(".imulti.list > .ilist").each(function (i, n) {
                Sortable.create(n, {
                    handle: ".ikey",
                    ghostClass: "ghost"
                });
            });
            $(".add-list-item").click(function () {
                var irow = $(this).closest(".irow");
                var inav = irow.children(".inav");
                var imulti = irow.children(".imulti");
                var ilist = imulti.children(".ilist");
                var irowTemplate = imulti.find("> .template > .irow");
                if (irowTemplate) {
                    var clone = irowTemplate.clone(true);
                    var max = -1, count = 0;
                    ilist.children(".irow").each(function (i, n) {
                        var current = new Number($(n).find("> .inav > .ikey").text());
                        if (current > max) {
                            max = current;
                        }
                        count++;
                    });
                    clone.find("> .inav > .ikey").text(++max);
                    ilist.append(clone);
                    //
                    inav.children(".idesc").html("Array [" + (++count) + "] <span>&gt;</span>");
                    imulti.show();
                }
            });
            $(".del-list-item").click(function () {
                var con = window.confirm("Are you sure to delete this node?");
                if (!con) {
                    return false;
                }
                var irow = $(this).closest(".irow");
                var count = irow.siblings(".irow").length;
                var parentInav = irow.parent().closest(".irow").children(".inav");
                parentInav.children(".idesc").html("Array [" + count + "] <span>&gt;</span>");
                irow.remove();
            });

            // datetime
            $(".get-current-time").click(function () {
                var irow = $(this).closest(".irow");
                var ivalue = irow.find("> .inav > .ivalue");
                var val = moment().format(DATE_FORMATS[0]);
                ivalue.html("<span>" + val + "</span>");
                ivalue.next(":hidden").val(val);
            });

        });

        function validate(type, format, val) {
            /* Type validation
             integer
             number
             boolean
             string, date-time/ObjectId
             */
            var msg = null;
            if ($.inArray(type, ["integer"]) >= 0) {
                msg = val.match(/^\d+$/) ? null : "Invalid " + type + "!";
            } else if ($.inArray(type, ["number"]) >= 0) {
                msg = val.match(/^-?\d*(\.\d+)?$/) ? null : "Invalid " + type + "!";
            } else if ($.inArray(type, ["string"]) >= 0) {
                if ("date-time" == format) {
                    msg = moment(val, DATE_FORMATS, true).isValid() ? null : "Invalid datetime!";
                } else if ("ObjectId" == format) {
                    msg = val.match(/^[0-9a-fA-F]{24}$/) ? null : "Invalid ObjectId!";
                }
            }
            return msg;
        }

        function save(btn, copy) {
            copy = copy || false;
            if (btn.is(".doing")) {
                return;
            }
            if (isEditing()) {
                showError("Some fields are being editing, can not save!");
                return false;
            }
            var msg = copy ? "Are you sure to copy this record?" : "Are you sure to save this record?";
            var con = window.confirm(msg);
            if (!con) {
                return false;
            }

            btn.addClass("doing");
            var method = btn.is("input") ? "val" : "text";
            var oldLabel = btn[method]();
            btn[method](oldLabel + "...");

            var param = {"r": Math.random()};
            process(param, $("#doc > .ivalue"), "{{ model.name }}");
            if (console && console.log) {
                console.log(param);
            }

            var url = copy ? "/crud/save/{{ model.name }}/" : "/crud/save/{{ model.name }}/{{ record._id or '' }}";
            $.post(url, param, function (result) {
                if (result.success) {
                    showSuccess(result.message);
                    showInfo('Refreshing...');
                    setTimeout(function () {
                        location.href = "/crud/raw/{{ model.name }}/" + result.rid;
                    }, 2000);
                } else {
                    showError(result.message);
                }
                btn.removeClass("doing");
                btn[method](oldLabel);
            }, "json");
        }

        function isEditing() {
            return $("#doc .inav.iseditor").length > 0;
        }

        function process(param, ivalue, path) {
            // console.log("Try to process path " + path + " - " + ivalue.attr("class"));
            if (ivalue.is(".imulti")) {
                ivalue.find("> .ilist > .irow").each(function (i, n) {
                    var iv = $(n).find("> .inav > .ivalue");
                    if (iv.length == 0) {
                        iv = $(n).find("> .ivalue.imulti");
                    }
                    if (ivalue.is(".dict")) {
                        process(param, iv, path + "." + iv.attr("name"));
                    } else if (ivalue.is(".list")) {
                        process(param, iv, path + "[" + i + "]");
                    }
                });
            } else {
                var hidden = ivalue.next(":hidden");
                var val = hidden.val();
                if (val.length > 0) {
                    param[path] = hidden.val();
                }
            }
        }
    </script>
{% endblock %}